[2012-04-21 03:51] superfell opened #11 "allow an easy to override/subclass LoginActivity"
It'd be useful to break up the current LoginActivity class into the various peices (webview support, parsing etc) from the UI specific code, and make it possible to use an alternative LoginActivity to present the login UI, this would be useful if you're app is trying to use the action bar for example.

[2012-04-21 03:52] superfell opened #12 "add other image densities of edit_icon.png"
The edit_icon.png provided in the templateApp only has a hdpi version, add the other densities as well (particularly mdpi which is used on a lot of tablets)

[2012-04-21 04:08] superfell opened #13 "RestResponse should expose the underlying response data."
The comments in RestResponse asString() say "Don't call this method for large response or binary responses."

but there's no provided way to access the underlying httpResponse or httpEntity, or response stream.

[2012-04-21 19:55] superfell opened #14 "RestResponse has wrong copyright header?"
It says

/*
- Copyright 2010 Salesforce.com.
- All Rights Reserved.
- Company Confidential.
  */

Which doesn't seem right for an open source library, all the classes i looked at had the BSD type license notice instead.

[2012-04-21 23:40] superfell opened #16 "AsyncRequestCallback methods should include the source RestRequest"
the callbacks don't include the request that was made, this makes it hard to have a single instance of the callback for a given class of requests, you tend to end up having to create an new Callback object for each sendAsync call.

[2012-04-23 20:24] #14 closed, assigned to nobody

[2012-04-24 02:09] #13 closed, assigned to nobody

[2012-04-24 18:56] #12 closed, assigned to nobody

[2012-04-25 00:54] #11 closed, assigned to nobody

[2012-04-26 16:00] fortesl opened #22 "ARC support for IOS SDK"
Need support for Automatic Reference Counting in IOS SDK.
Thanks.

[2012-04-26 16:03] #22 closed, assigned to nobody

[2012-05-02 06:01] zmdominguez opened #26 "App crashes on first run after installation"
Hi,

I have been consistently encountering a crashing issue while running an app referencing the SalesforceMobileSDK-Android after installation. I cloned the repo, ran the install scripts, then created a simple app from the TemplateApp. I used the SDK as a library project.

On first launch after install, the app crashes before the log-in page finishes loading. The error does not appear again after

[2012-05-09 17:06] mahesha opened #27 "sample hybrid code"
Hi

I am using the hybrid application sample code. Even though the function

function loginSuccess(oauthCredentials)

in the bootstrap.html says success, the salesforce page ask for login and password. Once i logined with the user name, it does not ask and later on it prompts me.

This is happening in the simulator as well as android

thanks

regards

mahesh

[2012-05-14 15:41] jasonhartfield opened #28 "Hybrid sample app prompts for login after a day"
When I first run the hybrid sample app, I login and it works fine for about a day without prompting for login on repeated restarts of the app.  Then after the first day I am prompted for a login every time my application starts.  My hunch is that the access token is not being updated from the refresh token.

[2012-05-15 01:14] #16 closed, assigned to nobody

[2012-05-15 01:14] #26 closed, assigned to nobody

[2012-05-15 23:06] #27 closed, assigned to nobody

[2012-05-17 22:49] hummer330 opened #30 "CipherCloud Integration error"
Hi there,

We have just experienced a problem that redirect the url using SF Mobile SDK after login through CipherCloud gateway (https://login-salesforce-com.pilot3.ciphercloud.net/).

The problem was after login through CipherCloud login page, ex: https://login-salesforce-com.pilot3.ciphercloud.net/, the mobile SDK returns normal SF url (like, https://ap1.salesforce.com) instead of CipherCloud ga

[2012-06-15 23:24] #28 closed, assigned to nobody

[2012-06-16 16:50] srisom opened #35 "No value for externalIdPath"
I am currently developing a hybrid/offline capable app for a customer and was having issues with the smartstore calls to get the next page for a cursor with more records than the page size - moveCursorToNextPage would never move on (the code lifted from the CloudTunes app would go into an infinite loop).  Additionally moving to a given index would never move on from the first page.

To resolve thi

[2012-06-17 12:17] kylehr opened #36 "tools/symlink_files.txt out of date"
Hi guys,

I am on windows 7 and today I followed the Mobile SDK Workbook and did the following

[code]

the last command of which failed with the message

[code]

at which point I had a peek at install.vbs and tools/symlink_files.txt and it seems to me be out of date in that it contains the line

[code]

but there is no file edit_icon.png in native\SalesforceSDK\res\drawable-hdpi.

There is, howev

[2012-06-18 19:18] #36 closed, assigned to nobody

[2012-06-26 15:21] MikeDay1010 opened #41 "Source file 'native\SalesforceSDK\res\drawable-hdpi\edit_icon.png' does not exist! Cannot continue."
I have tried many times to clone the android SDK and install using windows shell 'cscript install.vbs' but I keep getting the error

Source file 'native\SalesforceSDK\res\drawable-hdpi\edit_icon.png' does not exist!  Cannot continue.

I don't know how to progress this

[2012-06-29 17:43] #41 closed, assigned to nobody

[2012-07-03 14:10] craigj opened #43 "Hybrid App on Galaxy Tab 2 10.1"
I have a hybrid app (connecting to visualforce) using SalesforceMobileSDK-Android.

The app works fine in emulator, however when runnign on Galaxy Tab 2 (10.1) The app unexpectidly quits whenever it is launched.

I have the following from logcat:

07-03 14:55:36.351: E/AndroidRuntime(13245): FATAL EXCEPTION: main
07-03 14:55:36.351: E/AndroidRuntime(13245): java.lang.RuntimeException: Unable to cr

[2012-07-05 19:10] cwarden opened #46 "SmartStore doesn't support x86 Android devices"
SQLCipher uses shared libraries that are currently only available for ARM so using SmartStore with an x86 device or emulator fails when DBOpenHelper tries to load the libraries.  See https://github.com/sqlcipher/android-database-sqlcipher/issues/40

[2012-07-05 22:47] akhileshgupta opened #47 "Allow overriding the start url in SalesforceDroidGapActivity"
Currently the SDk has the hardcoded value for BOOTSTRAP_START_PAGE and there is no way to override it to specify a different page or URL.

[2012-07-05 23:04] akhileshgupta opened #48 "Expose identityUrl in the oauth success response"
Currently, the oauth login success result doesn't contain the identity url information.

[2012-07-09 18:15] superfell opened #55 "Add account via settings shows oauth error screen"
If i try and add an account for an SDK based app via settings -> accounts & sync -> add account, an oauth error screen is shown instead of the login page (error=invalid_client_id) you can see this with the provided SFDCAccounts demo app. (this is using the current code in the master branch). This is on OS 2.3.6, haven't tried any other OS versions.

[2012-07-11 17:09] superfell opened #56 "allow for a customizable userAgent header"
Currently the userAgent is built up based on various SDK versions etc, however a client app might have the requirement to set a specific userAgent in its requests, this doesn't appear to be possible, getUserAgent() in ForceApp is final, and there doesn't appear to be a setter for it in HttpAccess.

[2012-07-11 17:55] #48 closed, assigned to nobody

[2012-07-11 17:55] #47 closed, assigned to nobody

[2012-07-16 17:36] superfell opened #59 "SC_UNAUTHORIZED handling doesn't consume response"
in RestClient.sendSync, the handling of the SC_UNAUTHORIZED response doesn't consume that response, which looses you that connection.

[2012-07-16 17:59] superfell opened #60 "SalesforceSDK / AndroidManifest.xml should have a uses-sdk element"
The AndroidManifest.xml for the SalesforceSDK library should have a uses-sdk element that describe the minimum API version supported.

[2012-07-17 23:03] #59 closed, assigned to nobody

[2012-07-25 19:03] #43 closed, assigned to nobody

[2012-08-07 17:52] #35 closed, assigned to nobody

[2012-08-09 08:34] craigj opened #80 "Issue on Motorola Xoom 2 When going offline."
I am building a hybrid app in Android SDK.

Everything is now working except for offline mode.

I have created the manifest file, which lists all of my pages & resources. But whenever I turn off the WiFi, my app responds with:

Sorry!
The Application MYAPPNAME (process MY.PROCESS) has stopped unexpectedly. Please Try again.

And this is the only response I can get until I turn WiFi back on.

Here

[2012-08-14 03:39] superfell opened #84 "Can we make SqlCipher optional somehow ?"
The SqlCipher dependency that the SDK now has adds a considerable size to the final APK and app size (I moved an app from 1.1 SDK to current, and the APK when from 800K to 2.5Mb and the installed app size went from 2Mb to 8Mb) Is there someway we can make this optional, perhaps split the current SDK library into 2, so that apps not using the SqlCipher related stuff aren't paying the significant co

[2012-08-21 12:37] srisom opened #89 "Smartstore moveCursorToNextPage not working"
I find that when I have more records in a soup that the size of the current cursor page and I want to query them all, then the smartstore call 'moveCursorToNextPage' does not actually move the current cursor page index on - it stays on the current (already processed) page.

e.g. if I create a basic soup with 21 records and then query it using:

var querySpec = navigator.smartstore.buildAllQuerySpe

[2012-08-21 19:33] #89 closed, assigned to nobody

[2012-08-21 23:33] #80 closed, assigned to nobody

[2012-09-12 20:46] #60 closed, assigned to nobody

[2012-09-14 13:53] gdsimz opened #101 "SalesforceMobileSDK-Android download has corrupt jar files"
Been working on getting the walk through performed and after downloading the SDK zip file and and performing the "Getting Started" segment (http://wiki.developerforce.com/page/Building_Android_Applications_with_the_Force.com_REST_API); Eclipse states that the following jar files are not valid:

libs/guava-r09.jar
libs/cordova-1.8.1.jar
libs/sqlcipher.jar
dist/salesforcesdk.jar

This is the exact e

[2012-09-27 18:01] BigBadChicago opened #112 "Need to Build native/SalesforceSDK before building any Android project"
While trying to set up a new native & hybrid project for Android, I received the following error multiple times when trying to run the $ ant clean debug function :
    BUILD FAILED
    /Users/jbaltz/android-sdk-macosx/tools/ant/build.xml:451: The following error occurred while    executing this line:
    /Users/jbaltz/Code/SalesforceMobileSDK-Android/native/SalesforceSDK/build.xml:7: Source resour

[2012-09-28 14:15] #112 closed, assigned to nobody

[2012-10-01 07:04] yebihara opened #115 "login process aborts with WiMax connection"
I have a hybrid Android application that was developed based on Mobile SDK.

The app works fine when it's connected via 3G or Wi-Fi.
But when it's connected via WiMax (http://en.wikipedia.org/wiki/Wimax), it aborts just after the login process completes with the following error.

"Sorry!
The application MyApp (myapp.com) has stopped unexpectedly. Please try again."

Here is the stack trace behind

[2012-10-01 19:29] jaydipb opened #116 "Not being able to run Sample hybrid app for Android using Salesforcemobile sdk"
Using Mac.

Installed Android SDK.
Installed eclipse (Juno)
Installed Android ADT (from http://dl-ssl.google.com/android/eclipse

cloned SalesforceMobile SDK for android and ran ./install.sh

Imported VFConnector from SampleApps.

after importing , getting errors as:

R cannot be resolved to a variable
SalesforceR cannot be resolved to a type
SalesforceDroidGapActivity cannot be resolved to a type

[2012-10-02 00:25] #115 closed, assigned to nobody

[2012-10-16 20:36] #101 closed, assigned to nobody

[2012-10-16 20:39] #84 closed, assigned to nobody

[2012-10-16 20:39] #116 closed, assigned to nobody

[2012-10-27 16:46] srisom opened #141 "Application Cache empty in Ice Cream Sandwich and Jellybean"
Our Android mobile app (Salesforce SDK 1.2) has been running live in the field both on and offline (as required) on Android version 2.2 with no issues.

We are due an upgrade and test devices for ICS and Jellybean are working online but we can no longer start it up offline.

I have done some initial investigation running the app up on emulators for Android versions 2.2, 2.3.3 and 4.1.  I note that

[2012-11-13 18:51] #46 closed, assigned to bhariharan

[2012-11-14 02:16] mahesha opened #150 "changing to sandbox url"
I would like to change to the sandbox url without changing the source code. Is there a way please let me know
thx
mahesh

[2012-11-14 19:19] #150 closed, assigned to bhariharan

[2012-11-28 22:32] nickjgill opened #164 "Force Closes"
Hello,

I am able to import the projects into Eclipse and am able to get them to be error free but whenever I try to run in my AVD it ends up force closing. Any thoughts?

Trying to run the ContactExplorer app. Changed my remote app info. Made sure to also import the SalesforceSDK project into my workspace as well. I have Android 2.2 and Android Dependencies libraries checked. Also, under the Andr

[2012-12-14 00:54] superfell opened #174 "RestResponse.consume() doesn't check if the response has already been consumed."
Seeing this in v1.3, but looking at the 1.4 code it appears to still have the same problem. this means if you do something that conumses the response then call consume(), you can end up with an exception with a stack track like this.

E/AndroidRuntime( 3633): Caused by: java.lang.IllegalStateException: Content has been consumed
E/AndroidRuntime( 3633):    at org.apache.http.entity.BasicHttpEntity.

[2012-12-19 01:36] #174 closed, assigned to nobody

[2012-12-28 02:50] christineamiller opened #181 "ContactExplorer - cannot fetch contacts. using Android 4.2 (17)"
When I try to 'Fetch Device contacts' from the device (using emulator) I am getting "Alert.  Error getting device contacts!".   The console reads "onErrorDevice:  "JSON error"

I'm using the Android SDK tools r21.
I've tried AVD from:
5.1" WVGA
3.4" WQVGA

[2012-12-28 20:56] superfell opened #182 "UUIDManager has issues"
1. getUuId is synchronized but reset is not which can cause problems (as a reset could hapen while get is partially done).
2. the uuids cache hashmap never has anything put in it. (which currently negates the problem with 1)

[2013-01-02 21:22] superfell opened #184 "Improve Logging options"
Currently the SDK logs various things though the standard Android log classes with a variety of different tags, this makes it hard to use the tag filtering capabilities of adb to see all your app specific logging.

it'd be nice if
a) I could tell the SDK a specific tag to use for all its logging
and/or
b) route log calls to something the SDK consumer can override (perhaps to route the logging to a

[2013-01-03 04:25] superfell opened #185 "LoginActivity progress"
In LoginActivity.onLoadingProgress() it has

[code]

but the range of values sent to this method is 0..10000 (i.e. Window.PROGRESS_END)

[2013-01-03 04:55] superfell opened #186 "Hardcoded user shown strings in AuthWebViewClient"
in the onReceivedSslError() it builds up an error message to show the user with hardcoded english strings, these should be in string resources so they can be translated.

[2013-01-03 18:29] #182 closed, assigned to nobody

[2013-01-03 18:33] #164 closed, assigned to nobody

[2013-01-03 18:59] #185 closed, assigned to nobody

[2013-01-03 21:52] #186 closed, assigned to nobody

[2013-01-07 18:56] superfell opened #192 "consider making AccountInfoNotFoundException a RuntimeException"
Currently AccountInfoNotFoundException extends Exception, it might be better if this extended RuntimeException instead (it could then pass ContentProvider boundaries for example), and this condition really is a runtime error.

[2013-01-10 19:07] srohde opened #200 "Orientation Change Crashes App"
Hybrid app is crashing when changing orientation from portrait to landscape. The log lines indicate that the app gets launched again:

01-10 18:56:21.605: I/SalesforceDroidGapActivity.unschedulePeriodicAutoRefresh(16274): unschedulePeriodicAutoRefresh called
01-10 18:56:21.676: D/DroidGap(16274): Origin to allow: https://_.salesforce.com
01-10 18:56:21.684: D/DroidGap(16274): Origin to allow: http

[2013-01-14 23:32] #141 closed, assigned to bhariharan

[2013-01-16 23:55] #200 closed, assigned to nobody

[2013-01-25 15:11] venuduggireddy opened #218 "SFHybridApp.RemoteAppStartData is not working"
When I try to use SFHybridApp.RemoteAppStartData I cannot go beyond the login screen and I get am getting an error message. However If I use FHybridApp.LocalAppStartData() I am able to open the index.html page. I tried both unstable20 and unstable branches and non of them work. I am still a newbie so I am not sure how to capture the logs so to see what exception it is throwing.

I saw a similar is

[2013-01-31 01:40] mahesha opened #228 "Japan Android not working"
This is a hybrid implementation.

For Android for Japan we get JSON error login failure.

   If the user were to type https://login.salesforce.com on their browser and go to the apex page, they are able to get in successfully.

Any help is appreciated.
thx
mahesh

[2013-02-04 21:52] superfell opened #229 "Layouts should use resource defined colors etc, to make it easy to customize the look."
The native layouts provided by the SDK typically have their color/style information hard coded directly in the layout (i.e. from sf_passcode.xml)

[code]

It'd be better if these referred to resource values for layout & color info, so that they can be easily override to provide an UI consistent with the rest of the application. e.g. instead of android:textColor="#000" it should be android:textColo

[2013-02-05 01:23] #229 closed, assigned to nobody

[2013-02-06 15:44] ricardomartins opened #233 "SFHybridApp / deviceIsOnline problem on Android"
I don't know whether this is a bug on android Webviews, or what it exactly is, but the fact is that `navigator.connection.type` always returns "0" on android. Because of that `deviceIsOnline()` always returns true.
By using `navigator.network.connection.type` instead of `navigator.connection.type` I solved my problem, but Cordova complains that `navigator.network.connection` is being deprecated.
I

[2013-02-07 21:54] #228 closed, assigned to nobody

[2013-02-07 21:58] kamaraj7 opened #237 "Activation Code gets disabled frequently"
Hi:

Access to the Hybrid app through oAuth 2.0 Access screen does not work consistently. As soon as I exit out of the App, and log in again, a request to enter new activation code appears. This annoys end users, as they have to check their email frequently.

Please suggest solution.

Thanks.
kshankar

[2013-02-07 22:05] #237 closed, assigned to nobody

[2013-02-08 21:28] superfell opened #240 "The Logout method should revoke the refresh token."
Seems like logout should try and revoke the users refresh token if there is one.

[2013-02-10 02:02] #218 closed, assigned to nobody

[2013-02-19 12:45] ghost opened #252 "Default--TemplateApp"
hi,

Result I need:----fetch contacts whenever a user login with salesforce account

I am able to fetch them using the default Template App provided by Sales Force.

But when I put my call back url, client id etc....I am able to login and when click on fetch contacts its toasting a message ---- "NOT_FOUND" : message:"the requested resource doesnt exist".

I gave all the Oauth scopes for my app in

[2013-02-20 00:48] #192 closed, assigned to nobody

[2013-02-20 00:53] #181 closed, assigned to nobody

[2013-03-05 23:31] itgoujie2 opened #258 "how to customize oAuth process"
I need to customize the oAuth process including two steps.
1. change the login server to sandbox, I do see it in LoginServerManager, but I do not know how to make login points to sandbox
2. instead of default login page, I will create my own login page, ask user to type in username/password other than SF's username/password, behind the scene, I will use the username/password to oAuth the user
Coul

[2013-03-19 20:07] akshay21 opened #263 "not getting any response from template app"
hello,

i changed the soql query under onfetchaccountsclick to - "SELECT Name FROM Book__c"
here book is the custom object created as per given apex tutorial which by default has a name attribute.
but on clicking fetch accounts in the app i get error message as- invalid type and sObject of type Book__c is not supported.

the actual error can be seen in the screen shot attached.
![error1](https://f

[2013-03-20 17:09] #263 closed, assigned to nobody

[2013-03-20 17:55] #258 closed, assigned to nobody

[2013-03-20 17:56] #233 closed, assigned to nobody

[2013-03-22 07:30] akshay21 opened #266 "can users created as part of sf app login through the android app created as connected app..?"

[2013-03-22 19:40] akshay21 opened #267 "how to update custom objects from android app..?"
m trying to manually update the location in my sf database on clicking the update "button" on separate activity but the changes are not being made into my sf database...
![update_error](https://f.cloud.github.com/assets/3672257/292485/0be2bcc4-9328-11e2-959d-29d80223c518.png)

i hv also written a code for toasting when the update has been successful but dat also doesnt work... pls guide..!!
@bhari

[2013-03-25 18:35] #267 closed, assigned to nobody

[2013-03-26 23:21] itgoujie2 opened #270 "returning page?"
I am developing an app based on the VFConnector, the starting page as I know is decided by this line of code: var startData = new SFHybridApp.RemoteAppStartData("/apex/BasicVFPage"); in bootstrap.js. But I have a function is taking picture from Camera, after the picture is captured. It supposed to come back to my app, I thought it should come back to "/apex/BasicVFPage". But actually it is coming

[2013-03-27 18:55] #270 closed, assigned to nobody

[2013-03-28 21:53] itgoujie2 opened #272 "redirecting question"
I am developing a salesforce touch app based on the VFConnector sample project. As we know, for that project, we are directed to a VF page after we login. Now, I need to come back to the Eclipse side in the middle because there is one page requiring offline browsing possibility. Does anyone know how to redirect back and forward?

[2013-03-29 19:30] #240 closed, assigned to nobody

[2013-03-29 19:30] #55 closed, assigned to nobody

[2013-04-02 04:16] Jack88 opened #276 "Exclamation mark appears whenever import project using Salesforcemobile SDK"
Hi,

I'm new to android and development stuff, and i apologize first in case i ask simple question...

Using Window,
installed adt bundle for windows

and i followed every instruction on readme yet i still get exclamation mark....
error shows " Archive for required library: 'libs/cordova-2.3.0.jar' in project 'SalesforceSDK' cannot be read or is not a valid ZIP file   SalesforceSDK "

please help

[2013-04-03 09:06] #276 closed, assigned to nobody

[2013-04-03 17:24] #266 closed, assigned to nobody

[2013-04-15 17:52] mjgallag opened #277 "narrow ant create_hybrid_vf's broad uses-permissions"
Would it not make sense to narrow ant create_hybrid_vf's broad uses-permissions? I understand this may take a little rework as its AndroidManifest.xml is currently copied from https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/hybrid/SampleApps/VFConnector/AndroidManifest.xml and I'm not sure exactly what permissions the VFConnector sample requires. But, I think it would be nic

[2013-04-16 19:03] mjgallag opened #278 "Refresh oauth token code snippet on page 39 of Mobile SDK Dev Guide doesn't work with Android."
[code]

This code works on iOS but fails on Android  with a `JSONException` because of missing `OAuthProperties`. iOS implementation must store the current `OAuthProperties` somewhere and use them if none are passed explicitly to the authenticate method while Android doesn't, and likely requires an explicit pass i.e. https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/PhoneGap/ut

[2013-04-19 00:37] #278 closed, assigned to nobody

[2013-04-30 05:24] #272 closed, assigned to nobody

[2013-04-30 18:33] #277 closed, assigned to nobody

[2013-05-01 08:07] dipankar-das opened #291 "Launch web ui using OAuth token"
There should be a way to launch Web UI using the OAuthToken after login using the SDK.

[2013-05-03 17:42] #291 closed, assigned to nobody

[2013-05-23 03:17] rwarr opened #308 "salesforcedroidgapactivity"
trying to run the sample apps but it gives me this error:

java.lang.noclassdeffounderror: com.salesforce.androidsdk.ui.salesforcedroidgapactivity

seems like it's missing this class but i have no clue how to fix this? i followed the wiki tutorial to the step.

[2013-05-26 23:27] tonante27 opened #313 "Android CloudTunes App Unable to Fully Build in Eclipse Helios"
HI:

 I am attempting to run the Android CloudTunes App.
I use  www,github.com's version of CloudITunes app. Here are my setup steps:
1. Set up Eclispe Helios with the Android ADT bundle and using Android SDK manager set up all included files needed with Android ver 2.2
2. I cloned the directory for GitHub's Sales Force mobile SDK
3. I have JDK 1.7 installed
4. I'm Running Windows 7
5. I ran the c

[2013-06-01 00:49] #313 closed, assigned to nobody

[2013-07-16 03:39] #308 closed, assigned to nobody

[2013-07-16 15:34] ReidCarlberg opened #352 "Post Install Instructions -- Update"
after you do an "sudo npm install forcedroid -g"
you have to
a) figure out your available android targets
android targets
b) cd in to the node_modules directory and update
cd /usr/local/lib/node_modules/forcedroid/native/SalesforceSDK
android update project -p . -t 3
(where "3" is your desired android target based on "android targets" output)
c) create your app using "forcedroid create"
EXCEPT you

[2013-07-17 17:49] manjusdm opened #353 "NoClassDefFoundError on the latest SDK"
I am developing an android app. And, in the application class I am initializing the SalesforceSDKManager as:

SalesforceSDKManager.initNative(mContext, new KeyImpl(),MainActivity.class, LoginActivity.class);

But, I am getting this error.
java.lang.NoClassDefFoundError:com.salesforce.androidsdk.ui.sfhybrid.SalesforceDroidGapActivity

[2013-07-17 18:45] #353 closed, assigned to nobody

[2013-07-19 09:25] dozer47528 opened #354 "hardware acceleration was disabled?"
When I use css transparent  in v1.5.3,it was very very fast!

But the same web site in v2.0 was very slow!

[2013-07-20 13:38] #354 closed, assigned to nobody

[2013-07-23 07:48] dozer47528 opened #355 "Remote Access Application Authorization"
I have two connected app

[app for sandbox in dev] Callback URL:sfdc://success
[app for production in prodection] Callback URL:https://login.salesforce.com/services/oauth2/success

When I use old android device like `2.3.7` to login the production version, after I login in, the screen only shows: 'Remote Access Application Authorization'
Buy it works will in android `4.0`

[2013-07-24 00:44] #355 closed, assigned to nobody

[2013-07-24 14:04] MihaAgilcon opened #356 "Unusual SmartStore behaviour after SF logout"
Hello,

I implemented a jquery mobile hybrid app with SalesforceMobileSDK for android. I used SFDC Accounts as a template.

I think there might be a bug in SmartStore implementation, after a user logs out of the app via the "SalesforceOAuthPlugin.logout();" If I understand correctly, the soups should get deleted and then created when the user logs in again.

But for some reason, after logout and l

[2013-08-07 08:19] dozer47528 opened #362 "How to use my own hybrid remote site?"
I want to use Application Cache so I can't use `file://`

So I moved my web site to my own site like `http://test.com/index.html`

And I changed the bootconfig.json

[code]

But it doesn't work.

[2013-08-15 18:32] #352 closed, assigned to nobody

[2013-08-15 18:33] #356 closed, assigned to nobody

[2013-08-20 00:51] #362 closed, assigned to nobody

[2013-08-20 00:53] #252 closed, assigned to nobody

[2013-09-11 22:25] va239d opened #388 "Hybrid apps created with remote pages not working"
The following message appears after creating a hybrid app using remote apex page and then tried running the app on the emulator and then on the S3 device. The app just hangs without any response.

09-11 15:24:05.937: I/ClientManager:peekRestClient(23437):  at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:771)
09-11 15:24:05.937: I/ClientManager:peekRestClient(23437):  at dalvik.system.Na

[2013-09-16 21:39] #388 closed, assigned to nobody

[2013-09-17 03:36] cslwkah opened #392 "Community Login in Sandbox"
Hi,

In Production, android sdk allow community user login without any error, thanks for that!  However, app popup "SSL Error: Hostname mismatch!" in Sandbox when I go to the login webview.

After some digging, I found that the login url of my community in sandbox is:
https://XXXXXXX.test.cs6.force.com/merchants/login
but the salesforce sandbox certificate can only apply on *.cs6.force.com so it c

[2013-09-17 04:17] #392 closed, assigned to nobody

[2013-10-24 22:49] niki4810 opened #401 "Unable to resolve target 'android-8'"
Hi,

I have setting up my project using the instructions provided here :
http://wiki.developerforce.com/page/Developing_Hybrid_Apps_with_the_Salesforce_Mobile_SDK

,however after importing the project into ecllipse, I see this error

"Unable to resolve target 'android-8'"

I am trying to launch the ContactExplorer app in an andorid simulator and having a tough time brining it up. Could someone hel

[2013-10-24 22:57] #401 closed, assigned to nobody

[2013-10-28 16:55] ankittaneja opened #408 "SmartStore Packages cannot be resolved after updating to Mac OS X Mavericks"
I updated to Mavericks five days ago and since last 3 days and I am trying to find a solution for this SmartStore "not resolved" error.

I create a new app using the forcedroid npm package, and as recommended, I include SalesforceSDK and SmartStore and then the project, but when I try to build all of them, I get these 48 errors for SmartStore and "no resource found @xml/authenticator" error for th

[2013-10-28 21:14] #408 closed, assigned to nobody

[2013-10-29 21:07] suarezjulian opened #409 "Support for OkHttp"
Not an issue but more of feature request:

The sdk should look into the classpath and check if OkHttp is included and use it as default httpclient instead of AndroidHttpClient. (http://square.github.io/okhttp/)

AndroidHttpClient is NOT recommended by Google for Android version's grater than 2.2 (http://android-developers.blogspot.com/2011/09/androids-http-clients.html)

OkHttp is a modern http cl

[2013-11-08 17:57] zetxek opened #423 "smartsync.js support for linked objects"
We are using the SalesForce Mobile SDK with Javascript, in a hybrid HTML5 app, using Smartsync to create, store and send the data between our HTML5 application and the Salesforce backend.

We have created, and downloaded objects with our application. We can download information existing in the server, and we can also create or modify objects locally and send them back to SF.

We problem we are fin

[2013-11-14 23:31] zetxek opened #428 "Smartsync.js support for sending file objets (base64-encoded)"
We are trying to send an attachment to the API in a

Specifically, what we are doing is:
1. Taking a picture with the camera, or choosing it from the gallery
2. Resize the image with a Java-based Android plugin and return the base64 (so we avoid out of memory errors due to opening too large bitmaps)
3. Create the attachment Javascript object and sending it to the API with smartsync.

We are sendin

[2013-11-18 16:01] #428 closed, assigned to nobody

[2013-11-20 08:25] metadaddy opened #429 "Hybrid app icons are provided but not referenced in AndroidManifest.xml"
Create an Android hybrid app with forcedroid create, app contains icon files in res folder, but they are not referenced in AndroidManifest.xml.

Adding `android:icon="@drawable/sf__icon"` to the `<application>` element in AndroidManifest.xml causes the icons to be picked up correctly.

[2013-11-28 12:28] Filikin opened #430 "SmartstoreExplorer fails aapt utility"
Hi,
I am trying to figure out why the SmartStoreExplorer fails the "aapt dump badging" command with the error:
ERROR getting 'name' attribute: attribute is not a string value

The reason being that my own app, which is an Android Hybrid that uses the Smartstore fails the Google Play upload process for exactly the same reason, yet the ContactExplorer passes this test.

Is it a problem with the Smar

[2013-12-10 00:20] #30 closed, assigned to nobody

[2013-12-18 04:25] prakhar09 opened #431 "In hybrid folder ,the accountEditor sample app have empty files."
SalesforceMobileSDK-Android-master\hybrid\SampleApps\AccountEditor\assets\www\AccountEditor.html , bootconfig.json and all files in 'www' folder  have
"../../../../../external/shared/SampleApps/smartsync/AccountEditor.html"  written .

where is the code??? come on this os Salesforce SDK official link

[2013-12-18 15:09] #431 closed, assigned to nobody

[2013-12-18 15:37] pbenschop opened #432 "Android re-login fails after logging out with API call"
In my hybrid Android app built with the Salesforce SDK, quite often (but not always), a subsequent login after the app logs out using the API  -- var sfOAuthPlugin = cordova.require("salesforce/plugin/oauth"); sfOAuthPlugin.logout(); -- fails. It is not only my app, I can easily reproduce this problem with the stock ContactExplorer sample from the SDK. The problem occurs more often when you logout

[2013-12-19 12:33] prakhar09 opened #433 "Account Editor app don't work ,it has so many warnings and errors.Its a sample app or a files have been posted for correction!!!"
Your help would be appreciated if someone kindly post hybrid Account Editor running android app !!!!
These files are SAMPLES!!.kindly someone post a running AccountEditor app running! so that I can understand something out of it!.

[2013-12-20 13:45] prakhar09 opened #434 "after running Account Editor hybrid sample app,I only see "Account Editor " flickering again and again..I cant find a solution to this problem..."
This is the error I get in DDMS [2013-12-20 19:03:36 - ddmlib] An established connection was aborted by the software in your host machine
java.io.IOException: An established connection was aborted by the software in your host machine
    at sun.nio.ch.SocketDispatcher.write0(Native Method)
    at sun.nio.ch.SocketDispatcher.write(Unknown Source)
    at sun.nio.ch.IOUtil.writeFromNativeBuffer(Unkno

[2013-12-20 18:23] #434 closed, assigned to nobody

[2013-12-23 05:50] prakhar09 opened #436 "ClientManager:peekRestClient(709): No user account found ClientManager:peekRestClient(709):com.salesforce.androidsdk.rest.ClientManager$AccountInfoNotFoundException: No user account found ClientManager:peekRestClient(709): atcom.salesforce.androidsdk.res"
I am getting the following error in LogCAT .
ClientManager:peekRestClient(709): No user account found
ClientManager:peekRestClient(709):com.salesforce.androidsdk.rest.ClientManager$AccountInfoNotFoundException: No user account found
ClientManager:peekRestClient(709):  atcom.salesforce.androidsdk.rest.ClientManager.peekRestClient(ClientManager.java:140)

and also unable to find the  credentials of

[2013-12-24 00:20] #436 closed, assigned to nobody

[2013-12-27 05:45] prakhar09 opened #437 "can someone please tell me how to download the files available here of the SalesforceSDK sample project?"
All SalesforceSDK sample apps have below link in it where is the code??
Or I am not able to get it??
for example:

SalesforceMobileSDK-Android / hybrid / SampleApps / AccountEditor / assets / www / AccountEditor.html file has this link :

../../../../../external/shared/SampleApps/smartsync/AccountEditor.html

[2013-12-27 09:12] prakhar09 opened #438 "where is app.models.User defined in userSearch.html??"
in this code where  is app.models.User defined??

app.models.User = Force.SObject.extend({
    sobjectType: "User",
    fieldlist: ["Id", "FirstName", "LastName", "SmallPhotoUrl", "Title", "Email", "MobilePhone","City"]
});+

// The UserCollection Model
app.models.UserCollection = Force.SObjectCollection.extend({
    model:app.models.User,
    fieldlist: ["Id" , "FirstName" , "LastName", "SmallPho

[2013-12-31 01:11] #438 closed, assigned to nobody

[2013-12-31 01:17] #437 closed, assigned to nobody

[2013-12-31 01:29] #433 closed, assigned to rwhitley

[2013-12-31 06:41] jasonschroeder opened #443 "Typos in account_type and account_package"
`native/SalesforceSDK/res/values/strings.xml` has typos in `account_type` and `app_package` (they are both missing the _d_ in android):

[code]

I'm guessing these can't be corrected without fiddling with an upgrade script, right? If so, probably not worth fixing :neutral_face:

[2013-12-31 17:27] #443 closed, assigned to nobody

[2014-01-20 16:10] andritjia opened #446 "Can not install on windows 7"
Hi,

I'm trying to develop salesforce android app. and I'm trying to install this sdk but I could not install it. Can you help me on it?

![salesforcemobilesdk_errorjpg](https://f.cloud.github.com/assets/4260974/1955695/661b5a9e-81ec-11e3-80c0-eb62279c00d1.jpg)

[2014-01-21 20:00] #446 closed, assigned to nobody

[2014-01-22 06:57] cslwkah opened #447 "On demand login"
Hi,

is there any document or example that demonstrate how to do On-demand login.  I want to make some pages in my android app can be view without login.  Then the login webview popup after I click the login button.  Is there possible?

I checked the method:
SalesforceSDKManagerWithSmartStore.initNative(getApplicationContext(), new KeyImpl(), <Main Activity>, <Login Activity>);

But I don't know h

[2014-01-23 23:09] #447 closed, assigned to nobody

[2014-01-29 15:39] suarezjulian opened #448 "Support for Gradle"
Hi,

Gradle is the new build system that is going to be supported by the Android Team at Google, it would be great if the SalesforceSDK could be provided as a aar library, so that it integrates better with the new build system.

More info on Gradle for Android: http://tools.android.com/tech-docs/new-build-system/user-guide

[2014-01-30 03:42] cslwkah opened #449 "Network Bug? SDK handle response code 201 incorrectly"
I got a error message "BasicNetwork.performRequest: Unexpected response code 201 for..." when I try to create a new object via native salesforce android sdk.  201 means OK so may be it is a bug!?

I found this from google(https://plus.google.com/+StevenVanBael/posts/2YkZDSyENwH), which stated that it was a bug on the volley android library.

The I go to https://android.googlesource.com/platform/fr

[2014-02-08 07:19] zmdominguez opened #451 "OutOfMemoryError when calling RestResponse.asJsonObject()"
It does not happen all the time, but it does happen consistently when I was retrieving paged results from an SOQL query passed via the REST API. Every time I reach the sixth page (I was pulling down Accounts, and count() tells me I have to get around 5k records) and call this method, the OutOfMemory error occurs.

Stacktrace:

[code]

The workaround for this is if you want to get the RestResponse

[2014-02-27 06:20] #409 closed, assigned to nobody

[2014-02-27 06:24] #56 closed, assigned to nobody

[2014-04-24 18:09] #448 closed, assigned to bhariharan

[2014-05-26 04:49] troysellers opened #540 "Update volley_android to latest build"
When creating object using getRequestForCreate() the returned HTTP 201 caused an exception to be thrown.

Described here http://stackoverflow.com/questions/20613479/salesforce-mobile-sdk-throwing-an-error-com-android-volley-servererror-basic-ne

Tested local that latest (4.4.2_r2) has fixed my issue.

[2014-06-05 21:23] #540 closed, assigned to bhariharan

[2014-06-05 21:24] #449 closed, assigned to bhariharan

[2014-06-05 21:24] #429 closed, assigned to bhariharan

[2014-06-05 21:25] #432 closed, assigned to bhariharan

[2014-07-04 08:57] madhu-ra opened #577 "Refresh Token Issue in SDK 2.1"
Using SDK version 2.1 when connected to salesforce and after using the app after letting the app to be idle, salesforce can't be accessed. App is hanging with the log message "Uncaught Reference Error: error is not defined at cordova.force.js line 336". This line is the error argument of authenticate function which is inside the forcetkRefresh function.

[2014-07-06 02:39] #577 closed, assigned to nobody

[2014-07-10 10:09] mguillet opened #579 "User and Organization Id in preference file blocks security review."
Your security review team reported that the Android SDK is storing sensitive user information such as `user_id` and `org_id` in the `shared_prefs/current_user_info.xml`.

We don't really see how this data is sensitive nor how users privacy can be compromised with this information, but it has been reported.

Would you consider encrypting it in some ways or to make it go away of this file?

Thanks

[2014-08-12 20:52] #579 closed, assigned to nobody

[2014-09-24 14:57] ghost opened #667 "Hyprid App crashes after login: "requestFeature() must be called before adding content""
Hi,
I created a hybrid Android App with the current version (2.3), for TargetSDK 19. I replaced the consumer key, RedirectURI and the server values with the one I used for my application.

After logging in, the app crashes with following log:
<code>
E/AndroidRuntime(15441): FATAL EXCEPTION: main
E/AndroidRuntime(15441): Process: com.****_.**__, PID: 15441
E/AndroidRuntime(15441): java.lang.Runtime

[2014-09-29 20:20] tpesce opened #675 "Documentation for forcedroid "usesmartstore" option is incorrect (true/false vs yes/no)"
The docs (forcedroid -h) say:

[code]

But when I try to use "true" as the actual value I get an error:

[code]

Also:

[code]

[2014-10-17 22:57] #667 closed, assigned to nobody

[2014-11-21 19:53] #451 closed, assigned to bhariharan

[2014-11-26 23:57] #675 closed, assigned to nobody

[2014-11-26 23:59] #430 closed, assigned to bhariharan

[2014-12-11 02:21] akhileshgupta opened #770 "forcedroid: Native app setup instructions should ask to import Cordova project too"
These are the current instructions after forcedroid create:

[code]

SalesforceSDK depends on Cordova project, so that should also be imported.

[2014-12-11 21:08] akhileshgupta opened #771 "forcedroid hybrid project is pulling unstable plugin"
We are currently pointing to the unstable plugin repo in master branch.

https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/node/forcedroid.js#L165

[2014-12-11 22:30] #771 closed, assigned to khawkins

[2014-12-12 20:21] #770 closed, assigned to nobody

[2014-12-18 00:18] khawkins opened #783 "Hybrid refresh/replay is not working"
- Authenticate with the AccountEditor sample app.
- Click the button to go offline, and make a local account edit.
- Wait for the session to time out (or manually kill it in the Session Management admin section).
- Click the button to go back online.
- Click the button to process the local record.

This should refresh the expired/removed session in the background, and pass the new credentials from

[2015-01-05 16:32] Nemisis opened #786 "Missing User Account Parameters"
Hello,

I am creating an application that requires getting the full name from the Salesforce Org. This is present in the iOS SDK, but I do not see a way to do so with the Android SDK. Is there plans to add this in the future or am I missing something?

[iOS SFUserAccount Docs](http://forcedotcom.github.io/SalesforceMobileSDK-iOS/Documentation/SalesforceSDKCore/SFUserAccount_h/Classes/SFUserAccount

[2015-01-05 18:57] bhariharan commented on #786
@Nemisis You are correct - currently, we're not fetching additional information such as full name on ```Android```. However, this information can be fetched in your application using the REST API on the current user object.

[2015-01-05 18:58] bhariharan commented on #786
We will look at adding this in by default in a future release.

[2015-01-07 19:14] bhariharan commented on #783
This has been fixed in ```unstable``` and will be in our next release.

[2015-01-07 19:14] #783 closed

[2015-01-08 04:10] karsrini1973 opened #795 "Issue with httpcore-4.3.2-modified.jar when Proguard is enabled"
We have an Android native app that makes use of Salesforce Mobile SDk.

We have run into an issue when we tried to upgrade our app to use the latest version of the SDK (3.0). The latest SDK includes a modified httpcore library (httpcore-4.3.2-modified.jar).

When we generate a signed apk with Proguard turned on for obfuscation, the resultant APK is unable to make an HTTPS request to our salesforce

[2015-01-09 22:48] bhariharan commented on #795
The ```httpcore-4.3.2-modified.jar``` library is only used for file uploads by the Mobile SDK. If you don't use file uploads in your app, you can follow the following steps as a workaround.

* Navigate to ```libs/SalesforceSDK```.
* Remove ```httpcore-4.3.2-modified.jar``` in the ```libs``` sub-folder.
* Edit  ```build.gradle``` and remove the entry for ```httpcore-4.3.2-modified.jar```.
* Edit ``

[2015-01-09 22:48] bhariharan commented on #795
Let me know if the above steps work for you.

[2015-02-07 07:40] MatteoSomensi commented on #795
Hi,
I'm trying to include SalesForce SDK to create a native app. But I get this error:

UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files define Lorg/apache/http/Consts;
at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
at com.android.dx.merge.DexMerger.getSortedTypes(DexMerger.java:554)
at com.android.dx.merge.DexMerger.mergeClassDefs(DexMerger

[2015-02-17 11:43] ramsabarish opened #828 "ClassNotFoundException: Didn't find class "com.salesforce.androidsdk.smartsync.app.HybridAppWithSmartSync""
Hi , I have created a hybrid_local project using forcedroid.

My  Eclipse  ADT version is 23.0.2 .

I have installed  Android SDK Build-tools  21.1.2   &  Android 5.0.1 (API 21) .

When I  imported the projects into Eclipse there were more than 100 errors. Then I configured the build path for SalesForceSDK, SmartStore and SmartSync to add  CordovaApp-CordovaLib.jar , and after rebuilding the error

[2015-02-18 18:41] bhariharan commented on #828
What version of the Mobile SDK are you using? You need to import the ```Cordova``` library project into ```Eclipse``` to build, since ```SalesforceSDK``` depends on ```Cordova```. The ```JAR``` approach won't work.

[2015-02-19 06:58] ramsabarish commented on #828
How can I check the version of the Mobile SDK ?

I have checked its manifest file that says Version Code is 40  and  Version Name is 3.1.0  .

[2015-02-19 14:32] sachintiwari054 opened #831 "Not able to create new account..."
HI,
I am trying to figure out how we are passing name field in the account editor to the server while creating a new account record. Name field specifically i am talking about as its the mandatory field for creating a object and till now i didnt got to see where we actually are passing our parameters while creating a new account using the application. Please help at soonest..

[2015-02-19 17:51] wmathurin commented on #831
Looking at https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/samples/accounteditor/AccountEditor.html
Line 442: we populate the model with the value entered in the view
Line 486: we save the local model back to the server,
Line 170: we decide the set of fields to send back to the server on save
Of course the actual saving happens inside https://github.com/forcedotcom/Salesforce

[2015-02-20 07:39] sachintiwari054 commented on #831
Hi,
I am trying to save data for Opportunity, there i am passing fieldset as:
  sobjectType: "Opportunity",
    fieldlist: function(method) {
        return method == "read"
            ? ["Id", "Name", "StageName", "CloseDate", "Owner.Name", "LastModifiedBy.Name", "LastModifiedDate"]
            : ["Id", "Name","CloseDate", "StageName"];
    },

but when i am running the app and doing a save acti

[2015-02-21 00:38] wmathurin commented on #831
What error is passed to the error callback?

Did you try debugging in a browser? With AccountEditor.html, uncomment the <script/> tags that follow .

Next start chrome with same origin policy disabled (see http://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome) and open up file:// ... /<path to your .html>. Make sure to allow popups. You will get a popup to login then you

[2015-02-23 10:42] sachintiwari054 commented on #831
Hi,
I am trying with the method which you provided , in the meanwhile can you please elaborate more on offline online functionality of account editor app. I mean does this app detects offline mode by itself once the phone looses its internet connection or the user manually needs to switch to that mode using offline button?
Another query of mine is:

Is there any way of  getting the same data type

[2015-02-23 13:46] sachintiwari054 commented on #831
Have tried using the local testing but not able to do so. There was nothing to display in the page nor i got any popup , tried steps mentioned by you. Do i need to manipulate any file other then bootconfig.json , accounteditor.html and cordova.force.js ... because i have only made changes in these files and few changes in css properties file. PLeas revert back on this. Thanks

[2015-02-23 18:51] wmathurin commented on #831
Online/offline detection is at line 224 in https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/samples/accounteditor/AccountEditor.html
As for your second question, the Salesforce Mobile SDK doesn't provide UI components (at this point). We focus on the functions below (identity, authentication, secure storage, models -- with smartsync.js -- etc).

[2015-02-23 18:52] wmathurin commented on #831
You need to run your browser with same origin policy disabled (see http://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome).

[2015-02-23 19:11] wmathurin commented on #831
We would like to reserve the GitHub issues forum for known bugs in the Mobile SDK's codebase.
We should continue that conversation on the Salesforce Developer Discussion Forums, where you are likely to get more suggestions from users. Thanks!

[2015-02-23 19:11] #831 closed

[2015-02-24 14:07] sachintiwari054 commented on #831
HI,
Thanks for your help i have figured out my errors and now i am able to do operations using Opportunity object as well.
What i will suggest that can your provide any forums link where your reply regularly as i am having few doubts understanding the flow.  I would love to hear from you about my queries. I highly appreciate your replies here and they have helped me alot. Thanks.

[2015-02-24 15:45] Robin123goyal opened #835 "Getting OperationCanceledException after I login to the Hybrid Android app"
I have created a hybrid app and after I login to the app i am getting OperationCanceledException. Below is the error message i am getting:

02-24 10:48:59.852: W/AccMgrCallback:run(31986): android.accounts.OperationCanceledException
02-24 10:48:59.852: W/AccMgrCallback:run(31986): 	at android.accounts.AccountManager$AmsTask.internalGetResult(AccountManager.java:1503)
02-24 10:48:59.852: W/AccMgrCa

[2015-02-25 11:52] androidNttdata opened #838 "Logout while SyncDown - Android"
It seems that there is an issue with the logout method while a SyncDown is taking place. To reproduce this behaviour a poor internet connection is needed. With this a logout during a syncDown will cause the following exception:

com.salesforce.androidsdk.smartstore.store.SmartStore$SmartStoreException: Soup: syncs_soup does not exist
            at com.salesforce.androidsdk.smartstore.store.SmartS

[2015-02-25 18:54] bhariharan commented on #838
Logout triggers deletion of all soups as part of the cleanup. In this case, since the ```syncDown``` operation is in progress during logout, the ```syncDown``` will fail, since logout has removed the soups it requires and any other state corresponding to that user, including the access and refresh tokens. At this point, ```syncDown``` or any other operation is bound to fail. Logout should be calle

[2015-03-02 11:49] androidNttdata commented on #838
Hi,

that's all right and I do not expect to get a refresh on non-existing soups while no user is logged in. But I do think that this exception should be caught appropriately inside the SDK. For whatever reason I am not able to catch this Exception in my syncDown method, which causes the application to crash!

[2015-03-04 10:06] androidNttdata commented on #838
I wanna share my further experiences with syncDown and I hope this is getting fixed soon!

Besides the fact that a syncDown cannot take place after a user has logged out, there is one big question mark for me!
Why am I not able to catch the exception that is thrown inside the salesforce's SDK?

I am calling the syncDown method like this:
try {
SyncState syncState = syncMgr.syncDown(target, options

[2015-03-04 11:54] ramsabarish opened #839 "How to perform bulk DML operations in salesforce hybrid app ?"
I have created a salesforce hybrid app using Forcedroid and I'm able to perform the CRUD operations using forcetk client instance .

Now I want to perform mass update on salesforce objects but I didn't find any running example code to do so.

For 2 days I have searched for topics like BULK API, SmartSync , JSForce but I don't understand how to implement them.

Kindly share a code to perform Bulk D

[2015-03-04 16:40] khawkins commented on #839
Please submit your question to our [Google Plus Community](http://sfdc.co/mobilesdkcommunity).  We reserve the Issues site(s) for bug reporting.  Thank you!

[2015-03-04 16:40] #839 closed

[2015-03-05 13:21] sachintiwari054 opened #840 "Not able to run Account Editor Hybrid App using salesforce sdk 3.1"
HI,
I have been developing applications using sdk version 2.2 but now i am trying to migrate my app to 3.1 as i wanted to implement push notification in my app. I am facing issues while doing the same in 2.2, so here i thought of first trying to run a sample app but i am facing few errors while doing the same. Here i am attaching a snapshot of the error which you can see. Also i have added hierarc

[2015-03-11 11:24] androidNttdata opened #842 "Uncatchable Exception inside Android SDK"
Hello,

I am using the sync down mechanism as described in the SmartSyncExplorer sample application!

Unfortunately there seems to be an issue with the methods running inside the SalesforceSDK project. If the syncDown method of the SDK is called and an Exception is thrown at any point the application crashes. Even if I put the syncMngr.syncDown(...) method inside a try catch block!
Does the syncDo

[2015-03-11 13:18] Nemisis opened #843 "Servers.xml File is not Changing the URL"
I am attempting to change the login server and noticed in the documentation the following:

res/xml/servers.xml file in your application project. The root XML element for this file is <servers>. This root can contain any number of <server> entries. Each <server> entry requires two attributes: name (an arbitrary human-friendly label) and url (the web address of the login server.)

    <?xml version

[2015-03-11 14:16] Nemisis commented on #843
Hmm...Looks as though I have solved this myself. Looking into the code, it seems to only fetch from the servers.xml file on first launch (from an initial install) and then caches it in the SharedPreferences. As such, if you change the URL, you will need to either uninstall or clear the data.

As such, if this is released in the Play Store and then we want to change the login URL, how would we go a

[2015-03-11 22:45] wmathurin commented on #843
You are right with your analysis. That's the current behavior.
A work around would be to programmatically update or clear that shared preferences file at app startup.

[2015-03-11 23:07] bhariharan commented on #842
The ```syncDown``` and ```syncUp``` operations are asynchronous. You'll need to catch the exception inside the ```onUpdate``` method in the callback. This forum is reserved for known bugs in the Mobile SDK. Please post questions is our Google+ community [here](https://plus.google.com/communities/114225252149514546445).

[2015-03-11 23:07] #842 closed

[2015-03-11 23:52] bhariharan commented on #840
What is the ```targetApi``` and ```minApi``` in ```AndroidManifest.xml``` for the libraries and your sample apps?

We reserve this forum for known Mobile SDK bugs. Please post questions in our Google+ community [here](https://plus.google.com/communities/114225252149514546445).

[2015-03-11 23:52] #840 closed

[2015-03-17 08:55] androidNttdata commented on #842
Thank you!
Putting the try and catch block inside the onUpdate method seems to handle exceptions!

[2015-03-17 12:08] Nemisis commented on #843
Thanks. Closing.

[2015-03-17 12:08] #843 closed

[2015-03-24 06:52] Nidhee commented on #835
I was also getting the same crash on login to the Native Android app which I was able to solve, may be you can try the same solution on your side.
On my side,in Salesforce developer console when creating connecting app. I didn't select all the OAuth scopes so may be it was not getting some permissions on the connected android application.
Just - "Selected all available OAuth scopes". These scopes

[2015-03-24 16:40] Robin123goyal commented on #835
Thanks for the reply. I solved this issue by changing the auth token. I was using the wrong auth token. :)

[2015-03-24 16:40] #835 closed

[2015-03-24 17:56] daveespo commented on #835
I don't think this is right, even if you were able to work around the problem with configuration changes. It look like 633df0559103d739ebb8db49fc802c18d4015752 authored by @bhariharan in January changed this code -- on a clean run of the VFConnector sample app, it crashes out because the accMgr.getAccountsByType(getAccountType()) (SalesforceSDKManager.java:843) returns an empty array, not a null v

[2015-03-30 15:14] hanaw1 opened #858 "where is native/SalesforceSDK file ?"
According to this guide - https://developer.salesforce.com/page/Developing_Hybrid_Apps_with_the_Salesforce_Mobile_SDK -in step  :"Creating a Hybrid App Project for Android"
when I import the file I get a lot of errors.
anyone got this too?
And there is suppose to be a reference to native/SalesforceSDK - but there isnt in this project.
Its missing.
Can anyone help me pls?
Thanks

[2015-03-31 14:39] Nemisis commented on #430
Is it possible to remove that in the `AndroidManifest.xml` file? I mean, I didn't know it was an issue and spent time trying to figure it out. If it's a known issue with Google, why include it in your SDK?

[2015-03-31 17:52] bhariharan commented on #430
@Nemisis It is included in the SDK because there is no way to know the package name in advance. The alternative is that the app developer has to manually add those lines to the app's manifest, in order for push notifications to work. The idea was to automate as much of the manifest merging as possible to make it easy for developers to consume it.

[2015-04-01 13:19] hamroune commented on #430
bravo it works for me, juste replace @string/app_package by "com.salesforce.androidsdk" in cordova plugin in my case

[2015-04-01 17:03] BharathC commented on #828
Hi , I am getting the same Error .
- ADT version 23.0.6.XX
- Android SDK version 24.0.2
- Android 5.1 (API 22)
- cordova version -> 4.3
- SF Mobile SDK version -> 3.1.2 ,
 After creating  android hybrid project using " forcedroid create " command the following projects are created
 - MainActivity-CordovaLib
 - SalesforceSDK
 - Sampleproj (my sample project)
 - SmartStore
 - SmartSync

On  viewing

[2015-04-01 23:34] bhariharan commented on #828
@BharathC You'll need to click the ```Remove``` button and remove the incorrect path to ```Cordova```, and click the ```Add...``` button, navigate to your library and add the ```Cordova``` library project.

[2015-04-01 23:34] #828 closed

[2015-04-02 08:13] ramsabarish commented on #828
Okay, I will tell you what worked for me.

1. Check  java Build Path of your project. Ensure that in Libraries  the below given jar files are correctly added. If any jar file is missing you can find it in its bin folder and add it, like if smartsync.jar is missing you can find it under SmartSync -> bin.

![screen shot 2015-04-02 at 1 30 27 pm](https://cloud.githubusercontent.com/assets/10074524/69

[2015-04-02 10:40] toddhalfpenny commented on #430
Hi all, I'm also seeing this error, but my AndroidManifest does not have that string ref in it.

I'm trying to package an android hybrid app using the steps here https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin.

Has anyone managed to build a hybrid app and have it pass the aapt checks?

Here is what my AndroidManifest.xml looks like

[code]

All help/guidance very much appreciated

[2015-04-02 12:19] hamroune commented on #430
go to plugins/com.salesforce.androidsdk/...../SalesForceSDK/AndroidManifest.xml
and replace @string/app_package by "com.salesforce.androidsdk"

[2015-04-02 13:51] toddhalfpenny commented on #430
Ahhh... the AndroidManifest.xml **in** the plugin folder... sorry I missed that. I'll give that a whirl and will update you,

[2015-04-05 22:29] toddhalfpenny commented on #430
I have obviously misread something down the line and haven't been paying attention to the AndroidManifest .xml files inside the plugins dir. After modifying these my app builds fine and also passes the aapt test. Thanks!

[2015-04-06 18:26] daveespo opened #862 "Hybrid app crash (ArrayIndexOutOfBoundsException) when OAuth scopes aren't defined to match bootconfig.json"
If you don't include the proper scopes when setting up your Connected App, rather than getting "1804: the requested scope is not allowed" upon Login, the app crashes with:

[code]

AccountManager returns an empty array if there are no accounts, never null so that should be the test (#835 is this same bug, just in different words)

The offending code was introduced in 633df05

[2015-04-06 18:27] bhariharan commented on #862
@daveespo Thanks for reporting this issue - I'll take a look.

[2015-04-06 18:28] daveespo commented on #862
PR attached ;-)

[2015-04-06 18:30] bhariharan commented on #862
Could you send a pull request to the ```unstable``` branch?

[2015-04-06 18:43] daveespo commented on #862
Yep, sorry about that .. didn't notice the request for 'unstable' until it was too late

Hopefully I got it right this time ;-)

[2015-04-06 21:37] bhariharan commented on #862
:+1:

[2015-04-06 21:37] #862 closed

[2015-04-08 20:08] Nemisis opened #865 "Cannot Log In - User Data not getting saved"
Hello,

I have seen this error periodically from time to time and am not sure how to go about fixing it. What happens is the following:

  1. I will be logged into the app and manually log out by calling `SalesforceSDKManager.getInstance().logout(activity, true);`.
  2. I will log in. It will work and I will get logged into the application.
  3. I will re-logout like step 1 above.
  4. When I log

[2015-04-08 21:16] bhariharan commented on #865
Which version of the Mobile SDK are you using?

[2015-04-08 21:23] bhariharan commented on #865
In ```AndroidManifest.xml``` of the ```SalesforceSDK``` project, remove the following line:

```android:process=":auth"```.

We fixed this issue in [this](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/794/files) pull request. Feel free to reopen this issue if you still see the same problem.

[2015-04-08 21:23] #865 closed

[2015-04-08 23:02] Nemisis commented on #865
I did just that. My `AndroidManifest.xml` looks like this:

        <service android:exported="true"
            android:name="com.salesforce.androidsdk.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"

[2015-04-08 23:08] bhariharan commented on #865
Can you uninstall the app and reinstall it, before trying?

[2015-04-08 23:09] Nemisis commented on #865
Ah, I Think that was it. Thanks.

[2015-04-09 17:12] Nemisis commented on #865
Okay, this seemed to have fixed my issue. However, now another error is happening and I am not sure what is happening. These are the steps:

 1. I am logged into my account.
 2. I logout using the `SalesforceSDKManager.getInstance().logout(activity, true)` method.
 3. I repeat steps 1 & 2 a few times without fail.
 4. Then, suddenly, when I click "Allow", it does nothing and the screen goes white

[2015-04-09 17:42] bhariharan commented on #865
@Nemisis Interesting! I've never come across that. Could be a quirk in the IDE in debug mode. I have no clue.

[2015-04-09 17:46] Nemisis commented on #865
Well, this does happen when I run the app in normal (not debug) mode. I am able to reliably reproduce this. Logging in and out will cause this to happen. I would close the app (back all the way out) and swipe it away from the Recents menu and am still unable to enter the app after log in. I noticed that the only way to get into the app is to do the following:

 1. Go into the android Settings app.

[2015-04-09 17:47] bhariharan commented on #865
Can you reproduce this issue on any of our sample apps? Sure, a new issue is better for tracking.

[2015-04-09 17:55] Nemisis commented on #865
Yeah, I reproduced it within the "Template App". I will create a new issue.

[2015-04-09 18:01] Nemisis opened #868 "Login Issue"
I am unable to login to my account after logging in and out a few times. These are the steps to reproduce:

 1. Log into an account.
 2. Logout using the `SalesforceSDKManager.getInstance().logout(activity, true)` method.
 3. Repeat steps 1 & 2 a few times
 4. Then, suddenly, when I click "Allow", it does nothing and the screen goes white (the progress indicator does not become visible at all).

I

[2015-04-09 18:01] Nemisis commented on #865
Added new issue: #868

[2015-04-09 18:03] bhariharan commented on #868
Thanks for reporting @Nemisis! I'll take a look when I get a chance.

[2015-04-15 05:09] bhariharan commented on #838
@androidNttdata The exception needs to be caught inside the callback:

[code]

[2015-04-15 05:09] #838 closed

[2015-04-15 05:11] bhariharan commented on #858
Please post your question on our Google+ community [here](https://plus.google.com/communities/114225252149514546445). This forum is reserved for reporting of known bugs/issues with the Mobile SDK.

[2015-04-15 05:11] #858 closed

[2015-04-16 15:16] testintegration opened #870 "mobile sdk android hybrid app (remote or local) does not launch"
Hi I followed these steps based on the new instructions in mobile sdk.pdf on windows.
1. npm install forcedroid –g
2. npm -g install cordova
3. forcedroid create
4. Build the project in Eclipse based on the instructions in the command line
5. modify bootconfig to use the Consumer key for the remote app in my developer org
set callback to same which is testsfdc:///mobilesdk/detect/oauth/done

The p

[2015-04-16 16:32] sivakartik commented on #868
The issue occurs due to the following reasons:
In the client manager there is a method called  public RestClient peekRestClient(Account acc)

if the account is null or if the salesforcesdk manager 's isLoggingOut variable is true

or acc != null but any other account data is null;

The question here is why does the salesforceSDK wants to create android user account it can use shared preference to

[2015-05-04 14:54] daveespo opened #880 "User Agent reported by Mobile SDK is non-standard"
I'm running a Hybrid app on Android and one of the bits of Javascript my app uses sniffs browser capabilities by parsing the navigator.appVersion

Whether this is the best practice or not is not something I have much influence over.

The problem lies with this line:

https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/sfhybrid/

[2015-05-11 16:01] Nemisis opened #882 "Use of AccountManager causing memory leak"
I added [LeakCanary](https://github.com/square/LeakCanary) to my project that uses the android SDK, and I receive a notification of a memory leak after every screen. The following is the memory leak:

    05-11 08:54:26.451  27157-28173/com.my.app.debug D/LeakCanary﹕ In com.my.app.debug:1.0.0_debug:3.
    * com.my.app.ui.ActivityHome has leaked:
    * GC ROOT android.accounts.AccountManager$AmsTas

[2015-05-11 16:07] camflan commented on #868
Any updates to fix this log in loop when we don't get an update from AccountManager?

[2015-05-14 23:07] bhariharan commented on #795
We have removed the dependency on ```httpcore``` with [this](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/885) pull request. This issue shouldn't exist anymore on our ```unstable``` branch.

[2015-05-14 23:07] #795 closed

[2015-05-16 14:24] pyricau commented on #882
See here: https://code.google.com/p/android/issues/detail?id=173689

[2015-05-19 02:18] bhariharan commented on #882
I'm closing this issue, since this is not an issue specific to the ```Salesforce Mobile SDK```. We will monitor the bug filed with AOSP for updates.

[2015-05-19 02:18] #882 closed

[2015-05-20 16:38] randalln opened #890 "SmartStore deadlock"
My app syncs with Salesforce periodically, but when it coincides with a query, I get a deadlock (and an ANR).
[code]

[2015-05-21 23:04] bhariharan commented on #870
@testintegration Looks like you're unable to launch the ```Android``` emulator successfully. This has nothing to do with the ```Salesforce Mobile SDK```. Please use this forum to report bugs/issues with the ```Mobile SDK``` code.

[2015-05-21 23:04] #870 closed

[2015-06-15 18:39] akhileshgupta commented on #890
How are you initiating the sync? And which version of SDK are you using?

[2015-06-16 16:51] randalln commented on #890
I sync Leads and Contacts up, then sync them down again like so:
[code]

[2015-06-19 06:17] akhileshgupta commented on #880
We do understand this diversion from the standard that happened because of legacy reasons. But unfortunately it's really hard for us to fix it now as it will break the legacy integrations that are outside our control. As a workaround, you can always change the User-Agent string for your own apps.

We will keep this issue open as an enhancement for future.

[2015-06-19 06:26] akhileshgupta commented on #868
We do have our authentication standardized on android account manager system because of various reasons. Also, this looks like some kind of rare race conditions as we don't expect our users to continuously login-logout multiple times simultaneously.

We will continue to keep this bug open to investigate this more. We are also happy to take in a pull request if you guys can spot the root cause.

[2015-06-22 12:29] Nemisis commented on #868
Well, I do have a question in regards to this. While I understand what you're saying about logging in and out rapidly, this still does occur when the users token gets deauthorized (for various reasons, be it the length the org has set has expired, or they reach their max device count) and needs to log back in. So, it's not limited to quick, successive logins.

[2015-06-26 21:38] wmathurin commented on #890
Could you provide us the full thread dump?
Did you subclass DBOpenHelper?

[2015-06-29 19:39] randalln commented on #890
I modified SmartSyncExplorer to also run a bunch of queries when you choose Synchronize from the App Bar, which usually results in an ANR.  So, when I see the thread hang in logcat, I back out of the app and re-open it.  Normally, I'm only running 5-15 successive queries when it (semi-frequently) locks up.

----- pid 17958 at 2015-06-29 15:16:06 -----
Cmd line: com.salesforce.samples.smartsyncexpl

[2015-06-29 22:40] wmathurin commented on #890
Thanks a lot for the sample code, that helped a lot.

The fix is on its way (https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/909).
We are planning to release 3.3 very soon (it's a matter of days) but if you can't wait, you can always cherry pick the fix (https://github.com/wmathurin/SalesforceMobileSDK-Android/commit/8d63a373ea444e160cc3c16f3200012f826a111b?w=1) and apply it to you

[2015-06-29 23:10] wmathurin commented on #890
Re-open if the issue is not resolved after applying the change (linked above).

[2015-06-29 23:10] #890 closed

[2015-07-06 15:04] toddhalfpenny opened #917 "null integer and floating values cause crash"
SDK: v3.3

When running an upsert with null integer or floating values a crash is seen. It looked like this was fixed in [PR 832](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/832) but it does not seem to have worked as expected.

The following can be used to re-produce the issue (from JS console) of a new hybrid app.

[code]

I am using the following in *src/com/androidsdk/smart

[2015-07-06 21:39] bhariharan commented on #917
@toddhalfpenny Thanks! Could you send us a pull request against ```unstable```?

[2015-07-07 09:22] toddhalfpenny commented on #917
PR https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/918 has been created.

[2015-07-08 02:25] #917 closed

[2015-07-09 04:26] aravindtrue opened #919 "error: packages does not exist while running the application"
Hi Team,

I am facing below issue while running the application,

OSX Yosemite
java version "1.8.0_45"
cordova "5.1.1"

[code]
[code]
Any idea how to fix it?

[2015-07-09 07:21] aravindtrue commented on #919
I think there was a conflict between two source files. I removed some unwanted projects and it works fine now!

[2015-07-09 07:21] #919 closed

[2015-07-11 19:26] VinceFINET opened #920 "You should replace icon value in default AndroidManifest.xml"
Please fix the default AndroidManifest.xml file at line 5.

    <application android:hardwareAccelerated="true" android:icon="@drawable/sf__icon" android:label="@string/app_name" android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity" android:name="com.salesforce.androidsdk.smartsync.app.HybridAppWithSmartSync">

I get this error:
...\platforms\android\AndroidManifest.xml:5:

[2015-07-14 04:41] stephano88 commented on #430
Hi I had the same problem of ERROR getting 'name' attribute: attribute is not a string value,

I am using the SalesoforceSDK to build a project, the App build and runs fine, but just fails the aapt dump badging command.
Can someone please help: androidManifest below

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examaple.ar

[2015-07-14 05:13] stephano88 opened #921 "ERROR getting 'name' attribute: attribute is not a string value"
Hi I had the same problem of ERROR getting 'name' attribute: attribute is not a string value,

I am using the SalesoforceSDK to build a project, the App build and runs fine, but just fails the aapt dump badging command.
Can someone please help: androidManifest below

<?xml version="1.0" encoding="utf-8"?>
package="examaple.aru.wear.ticketsalesandmembershippush" android:versionName="x1">

android:a

[2015-07-14 13:07] toddhalfpenny commented on #430
@stephano88 Can you confirm you also don't see the string ref for app_package in any of the AndroidManifest.xml files inside the plugins dir?

[2015-07-14 13:09] stephano88 commented on #430
Actually, i tried it, and it can be seen from my application. Is there
there a way to block / restrict the scope?

On Tuesday, 14 July 2015, Todd Halfpenny <notifications@github.com> wrote:

[2015-07-15 00:09] stephano88 commented on #430
The app_package and app_name can be seen from my project AndroidManifest, I guess it's inheriting from the Cordova or SalesforceSDK library.

I guess the only way to fix this is modifying the AndroidManifest of these libraries? thanks for help. Much appreciated as we are now approaching some deadlines this week.

[2015-07-15 01:09] bhariharan commented on #921
@stephano88 This is not a ```Mobile SDK``` bug, it is an ```Android``` bug. I have filed a bug with the ```AOSP``` project. Meanwhile, you can replace ```@string/app_name``` with your app name to unblock yourself for now.

[2015-07-15 01:09] #921 closed

[2015-07-15 01:10] bhariharan commented on #430
@stephano88 See my comment [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues/921) on how to overcome this error.

[2015-07-15 01:14] stephano88 commented on #921
Hi , you mean replace it in the AndroidManifest ?

[2015-07-15 01:15] bhariharan commented on #921
Yes

[2015-07-15 01:17] stephano88 commented on #921
I even change it to @string/app_name1 , and I still get the same error when doing the aapt dump badging

[2015-07-15 01:43] bhariharan commented on #921
You'll need to replace all indirect resource references, and then clean and rebuild.

[2015-07-15 01:49] stephano88 commented on #921
that is only in my project ? because i cannot find the libraries AndroidManifest files.

[2015-07-15 02:15] stephano88 commented on #921
@bhariharan  , Still same issue,  do I need to replace everywhere ? layouts etc ? @drawable etc and other references ?

[2015-07-15 08:07] Joisar opened #922 "AuthFailure while fetching data after successful login"
In TemplateApp inside Native app samples.

I have logged in using my salesforce account credentials and I got logged in successfully, I have granted application access request.

Now,
When I click "Fetch Accounts" button and send RestRequest to fetch accounts, it displays toast having following error:

An error has occured:
com.android.volley.AuthFailureError
Please try again

Thanks,
Mehul.

[2015-07-15 22:49] bhariharan commented on #921
@stephano88 Nope - not layouts, or anything else for that matter. Only ```AndroidManifest.xml``` (including the manifest file for the ```SalesforceSDK``` library project, since that's where the offending string is).

[2015-07-15 22:55] stephano88 commented on #921
How can i access the salesforcesdk androidmanifest, its not a jar, and is
added by gradle, when i drilll down i cant find it
Do you have any idea?
On Thursday, 16 July 2015, Bharath Hariharan <notifications@github.com>
wrote:

[2015-07-15 23:00] bhariharan commented on #921
What IDE are you using? ```Eclipse``` or ```Android Studio```? Search for the ```SalesforceSDK``` directory in the filesystem, and navigate to ```AndroidManifest.xml``` within that directory.

[2015-07-15 23:01] stephano88 commented on #921
Android Studio

[2015-07-15 23:04] bhariharan commented on #921
Navigate to the ```Projects``` dropdown on the left tab, find the ```SalesforceSDK``` project, and navigate to ```AndroidManifest.xml``` under that project.

[2015-07-15 23:05] stephano88 commented on #921
in my file system I can see it in my project folder at

...\build\intermediates\exploded-aar\com.force\SalesforceSDK\2.3.0

May be it's that one , I will try again in Android Studio

[2015-07-15 23:09] bhariharan commented on #921
@stephano88 That's the generated binary, you'll need the source. This forum is reserved for known bugs in ```Mobile SDK```. Please continue this discussion by posting in our community [here](https://plus.google.com/u/1/communities/114225252149514546445).

[2015-07-15 23:12] stephano88 commented on #921
so I should replace @string/app_package with com.salesforce.androidsdk ?

[2015-07-15 23:19] stephano88 commented on #921
Hi again,

this is what I can see , no Android manifest

![error](https://cloud.githubusercontent.com/assets/1208820/8712126/c682eb9a-2b9b-11e5-899a-96152be38d4f.png)

[2015-07-15 23:23] bhariharan commented on #921
You should replace ```@string/app_package``` with your app's package name. Again, your screenshot is pointing to the built version, not the source. Besides, you're using ```Mobile SDK 2.3.0```, which is unsupported right now (it's a very old version). You should upgrade to the latest (```Mobile SDK 3.3.0```).

As I mentioned already, please post on our community. This forum is not for discussions,

[2015-07-15 23:27] stephano88 commented on #921
I just posted there.

[2015-07-15 23:28] stephano88 commented on #921
![error1](https://cloud.githubusercontent.com/assets/1208820/8712229/11cdce52-2b9d-11e5-9e4c-d2accf6e4f6a.png)

[2015-07-23 22:33] chkvirgo opened #925 "Test"
[#25794] Test

[2015-07-23 23:09] #925 closed

[2015-08-03 21:09] randalln opened #932 "SyncManager#reSync not working as expected"
From the Javadoc: "Re-run sync but only fetch new/modified records"

I'm adding custom local field to my soup.  The original SyncOptions included MergeMode.LEAVE_IF_CHANGED, but after the reSync, the custom fields are gone.  This seems contrary to the documented functionality, unless I'm missing something.

[2015-08-03 23:25] wmathurin commented on #932
Did you mark the locally modified fields as modified? That's how smartsync now to leave locally updated record alone during a sync or re-sync.
For an example look at the save method in: https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/native/SampleApps/SmartSyncExplorer/src/com/salesforce/samples/smartsyncexplorer/ui/DetailActivity.java

[2015-08-08 11:44] JamesKarl opened #936 "Why always add REFRESH_TOKEN within method computeScopeParameter of OAuth.java"
Before I commented out the bold statement   **scopesSet.add(REFRESH_TOKEN);**, it always failed to authorize for scope mismatch. After I commented out it, It succeed. I want to ask why always add REFRESH_TOKEN?

private static String computeScopeParameter(String[] scopes) {
        final List<String> scopesList = Arrays.asList(scopes == null ? new String[]{} : scopes);
        Set<String> scopesSe

[2015-08-08 11:51] JamesKarl commented on #936
The required parameters for **User-Agent OAuth Authentication Flow** are as below:
**response_type**: Must be token for this authentication flow
 **client_id**: The Consumer Key from the connected app definition.
** redirect_uri **: The Callback URL from the connected app definition.

The following parameters are optional:
**display**
**scope**
**scope**

**refresh_token** is not mentioned here. S

[2015-08-08 12:27] JamesKarl opened #937 "HttpAccess IntentReceiverLeaked Exception"
It throws always throw an **IntentReceiverLeaked** Exception at the following bold line.

public HttpAccess(Context app, String userAgent) {
        this.userAgent = userAgent;

        // Only null in tests.
        if (app == null) {
            conMgr = null;
        } else {

            // Registers a receiver to handle network changes.
            app.registerReceiver(this, new IntentFilter(

[2015-08-18 15:55] Nemisis opened #938 "Usage of the Apache HTTP Package and Android 6.0 Marshmallow"
As you can see from the [Behavior Changes](https://developer.android.com/preview/behavior-changes.html#behavior-apache-http-client) site, the Apache HTTP client has been removed from the Android SDK. As a result, the networking components of the SalesforceMobileSDK will no longer compile. The SDK should be updated to one of the following:

 * Switch to `OkHttp`
 * Switch to `HttpUrlConnection`
 *

[2015-08-18 18:06] wmathurin commented on #938
Thanks for reporting this bug. We will make sure to address it in our upcoming release.

[2015-08-18 18:18] wmathurin commented on #920
We are not getting that error.
Are you building a native or an hybrid app? What version of the SDK are you using?

[2015-08-18 18:22] wmathurin commented on #936
Users don't expect to have to re login every time they open an application on their mobile device.
Without refresh_token, the user will be logged out as soon as their session expires.
With refresh_token, the oauth flow gives us back a refresh token that the SDK uses to get a new access token when the session expires.

[2015-08-18 18:22] #936 closed

[2015-08-18 18:23] #932 closed

[2015-08-18 18:24] wmathurin commented on #922
We have never seen this issue. You need to provide us more details (version of the SDK, login host etc).

[2015-08-18 18:25] wmathurin commented on #937
We will investigate. Thanks.

[2015-08-19 05:23] JamesKarl commented on #937
Great ! Thanks for your great effort.

[2015-08-19 15:19] Joisar commented on #922
It was due to configuration. I've solved.

[2015-08-19 15:19] #922 closed

[2015-08-19 23:08] wmathurin commented on #920
No reproducible here. Re-open if you still have the problem but provide more details please.

[2015-08-27 21:14] bhariharan commented on #937
@JamesKarl When does it throw this exception?

[2015-08-27 21:16] bhariharan commented on #880
Unfortunately, we won't be able to change the user agent, due to backward compatibility issues. Besides, there is a workaround for app developers to override the default string.

[2015-08-27 21:16] #880 closed

[2015-08-27 21:22] daveespo commented on #880
How do you propose working around it?

I had to override the init() method in my Activity and do some string manipulation after having carnal knowledge of the app initialization sequence. At a minimum, this should be a method in SalesforceDroidGapActivity that can be overridden cleanly
[code]

[2015-08-27 22:10] bhariharan commented on #880
@daveespo The way to override is not in ```SalesforceDroidGapActivity```, it is in ```SalesforceSDKManager```. You would have to override ```getUserAgent()``` in ```SalesforceSDKManager``` to return the user agent you want to use.

[2015-08-27 22:16] daveespo commented on #880
But then how do I get all of the other framework (SalesforceDroidGapActivity and the various dependent classes) to use my subclass? SalesforceSDKManager is a singleton and it constructs and instance of itself. There's no way to pass in an alternative implementation that I can see.

[2015-08-27 22:21] bhariharan commented on #880
The app class calls ```SalesforceSDKManager.initHybrid()``` currently to initialize the components. Instead, your app class would call ```<subclass-of-SalesforceSDKManager>.init...```. Look at how we use ```SalesforceSDKManagerWithSmartStore``` for example. Your implementation would use the same pattern.

[2015-08-27 22:21] bhariharan commented on #880
Or if that feels like too much effort, you'd have to fork and make the change in your fork.

[2015-09-02 17:22] VinceFINET commented on #920
Hi,

I'm creating an android hybrid application.
SDK v33 used

[2015-09-02 19:13] mwelburn opened #949 "UserAgent not being set for hybrid_remote app"
I recently upgraded from 2.x to latest and noticed that the UserAgent no longer has SalesforceMobileSDK in it at all accessible via Javascript (it still seems to in the iOS build). I haven't been able to find any rationale for this outside of only being able to test in an emulator so far, but here is what navigator.userAgent outputs inside the app (as mentioned is possible here: https://developer.

[2015-09-02 19:40] mwelburn commented on #949
Confirmed that I still can't see a prepended SalesforceMobileSDK piece of the UserAgent on physical hardware.

[2015-09-02 22:16] wmathurin commented on #949
Thanks for reporting this issue. We will investigate and let you know what we find out.

[2015-09-02 22:19] wmathurin commented on #920
Did you create the app using forcedroid or did you use the cordova command line tools directly?

[2015-09-13 14:52] AndreeWille commented on #920
I have the same issue. I created a android native app with forcedroid as described in the Trailhead module. Afterwards I get this error message in AndroidManifest.xml:

`android\TrailAndroidApps\MyTrailNative\AndroidManifest.xml:9: error: Error: No resource found that matches the given name (at 'icon' with value '@drawable/sf__icon').`

[2015-09-14 23:07] kchitalia commented on #920
@AndreeWille I followed the instructions to build a native android app using the Trailhead videos here:

https://developer.salesforce.com/trailhead/mobile_sdk_native_android/mobilesdk_android_getting_started

and I was able to launch the template app and get to the login screen.

[2015-09-17 08:44] AndreeWille commented on #920
Now it works for me as well. I needed to add the cordova and salesforcesdk project as a library to my android project. Right click on my project -> Properties -> Android -> under Library add those 2 projects.

Thx @kchitalia for trying to reproduce it.

[2015-09-21 18:22] #920 closed

[2015-09-23 04:15] karsrini1973 opened #953 "Using TLS v1.1 or v1.2 in apps built on top of Android Mobile SDK"
Hi,
As per the link below, Salesforce will be disabling TLS v1.0 support in its orgs in 2016.
https://help.salesforce.com/apex/HTViewSolution?urlname=Salesforce-disabling-TLS-1-0&language=en_US&eid=singlesend&d=70130000000NIyh

We have Android native apps running on 4.4.2 where TLS v1.1/v1.2 are not enabled by default. All access to Salesforce is via the mobile SDK (which in turn uses Android voll

[2015-09-23 04:17] karsrini1973 opened #954 "Null pointer exception when trying to logout with push notifications registered and device is offline"
We are encountering a Null pointer exception while using Push messaging in the following scenario:
a) Our Android app is registered for using push messaging
b) Based on end user action, at some point in the app, we call SalesforceSDKManager.logout
c) If there is no connectivity in the device when logout is called, we encounter a null pointer exception inside PushService in Salesforce Mobile SDK.

[2015-09-28 11:52] rovqapint opened #956 "runSync hides Exception, could not handle error(message) in Hybrid App."
callbackContext.error(e.getMessage()) in SmartSyncPlugin is not called on Exception. SyncManager hides Exception.

[code]

[2015-09-28 20:37] wmathurin commented on #956
Thanks for bringing it up. We will look into it.

[2015-10-01 23:55] wmathurin commented on #954
Could you tell us what version of the Mobile SDK you are using and whether it is a native or hybrid application?

[2015-10-02 00:13] wmathurin commented on #953
We should probably provide a fix in our upcoming release.
In the meantime, you could create a SSLSocketFactory with TLS v1.1/v1.2 enabled (see http://blog.dev-area.net/2015/08/13/android-4-1-enable-tls-1-1-and-tls-1-2/ for example code), and set that factory on the http url connection in createHttpUrlConnection in https://github.com/wmathurin/SalesforceMobileSDK-Android/blob/master/libs/Salesforce

[2015-10-06 09:03] karsrini1973 commented on #954
Hi,
Ours is a native android application. We are currently using 3.0.0. But I
also looked at the latest github code and looks like the behavior is still
the same.

Regards,
Karthik

On Fri, Oct 2, 2015 at 5:25 AM, Wolfgang Mathurin <notifications@github.com>
wrote:

[2015-10-06 14:45] karsrini1973 commented on #953
Thanks. Can you please let me know when the next release is expected? That
will help me decide whether we have to put in a temporary patch or wait for
the SDK upgrade.

Regards,
Karthik

On Fri, Oct 2, 2015 at 5:43 AM, Wolfgang Mathurin <notifications@github.com>
wrote:

[2015-10-14 18:29] bhariharan commented on #938
We have fixed this in the ```unstable``` branch. This will be a part of our next release.

[2015-10-14 18:29] #938 closed

[2015-10-15 11:14] rovqapint commented on #956
Any news?

[2015-10-16 02:38] RichardClarkeDW opened #970 "Cordova build error with Salesforce MobileSDK - Element activity#com.plugin.gcm.PushHandlerActivity duplicated in AndoidManifest.xml"
If the only plugin is cordova-plugin-whitelist projects build without error
Including those in the Salesforce MobileSDK samples

These launch fine in the emulator running cordova emulate android

The call to
var oauthPlugin = cordova.require("com.salesforce.plugin.oauth");
fails because that plugin is not loaded (which makes sense)

So I add the latest Salesforce Mobile SDK plugin as per https://g

[2015-10-16 22:43] bhariharan commented on #970
@RichardClarkeDW What versions of ```Mobile SDK```, ```Cordova platform```, and ```Cordova CLI``` are you using? ```Cordova CLI >= 5.0``` is not currently supported, and ```cordova-plugin-whitelist``` doesn't exist for ```CLI < 5.0``` and ```Cordova platform < 4.0```.

[2015-10-19 05:21] RichardClarkeDW commented on #970
Cordova and Cordova lib are current so 5.3.3.  I can't see how to check the version of the Mobile SDK but I pulled it from Git last week, so it should be the current one 3.3.1 or 3.3.2.  So it sounds like I need to uninstall the current Cordova and pull a version prior to 5.0...

[2015-10-19 06:37] RichardClarkeDW commented on #970
The confusion for me is the latest Mobile SDK (https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/doc/mobile_sdk.pdf) which is version 3.3 has steps in it to download forcedroid 3.3.1 which is OK, but on page 117 it says to run "npm -g install cordova"

That grabs the latest cordova which is 5.5.3 - the top of page 117 points out the SDK hybrid container is set up to with Cordov

[2015-10-19 17:22] bhariharan commented on #970
@RichardClarkeDW Yes, you'll need to downgrade ```Cordova CLI``` to use it with the existing version of ```Mobile SDK```. ```Cordova``` has changed its underlying platform in its newer versions. Our upcoming release, ```Mobile SDK 4.0```, will support the version of ```Cordova``` you're using (```5.0``` and above).

[2015-10-19 17:22] #970 closed

[2015-10-19 21:36] RichardClarkeDW commented on #970
Thanks for your help but even with forcing version 4.3.1
npm install -g cordova@4.3.1
I still have a problem with the UserList sample and the equivalent from Trailhead https://developer.salesforce.com/trailhead/mobile_sdk_intro/mobile_sdk_hybrid/mobilesdk_hybrid_getting_started

When I run the app in the emulator both apps stop working

Debugging shows this error
Caused by: java.lang.ClassNotFound

[2015-10-20 21:29] bhariharan commented on #970
@RichardClarkeDW I'm not sure what's going on with ```Trailhead```, since our team doesn't own/manage it. Try generating an app with [forcedroid](https://www.npmjs.com/package/forcedroid), and let me know if that works for you. This uses ```Cordova``` to generate the app, but it makes sure the dependencies are lined up correctly.

[2015-10-21 20:28] RichardClarkeDW commented on #970
I've had another attempt today using forcedroid but with no change in the outcome.  For some reason the templates and scripts are misaligned (on my PC at least) and even a simple test application using the forcedroid output fails with this exception:

E/AndroidRuntime( 1110): Caused by: java.lang.ClassNotFoundException: Didn't find class "com.salesforce.androidsdk.smartsync.app.HybridAppWithSmartS

[2015-10-22 14:55] sevem commented on #970
@bhariharan is downgrading to Cordova 4 really an option? Not sure in what problems we will run into on other OS like iOS 9. Is there a roadmap or a release plan for Mobile SDK 4.0? Our customer, a really big player is "not amused" about this situation. First the big problems with iOS 9 and now really big problems while building an Android version

[2015-10-22 21:19] bhariharan commented on #970
@sevem See my comment [here](https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin/issues/112).

[2015-10-23 12:41] Entamut commented on #956
I'm opening a related issue:
https://github.com/forcedotcom/SalesforceMobileSDK-Shared/issues/308

[2015-10-30 23:09] bhariharan commented on #953
@karsrini1973 Our next release is expected in the Nov/Dec timeframe. #safeharbor

[2015-11-03 22:38] bhariharan commented on #953
@karsrini1973 We have a fix for this issue [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/981). This will be in our upcoming release. If you need it sooner, you can cherry-pick the pull request and apply it on your fork of Mobile SDK.

[2015-11-03 22:38] #953 closed

[2015-11-03 22:40] bhariharan commented on #786
We have added additional user fields in our ```unstable``` branch. This will be a part of our upcoming release (```4.0```).

[2015-11-03 22:40] #786 closed

[2015-11-04 01:44] karsrini1973 commented on #953
Thanks. I had already made changes in our fork - will see if I can quickly
align them with the actual commit.

On Wed, Nov 4, 2015 at 4:08 AM, Bharath Hariharan <notifications@github.com>
wrote:

[2015-11-04 02:36] karsrini1973 commented on #953
One more question:
Are there plans to allow the app to control the TLS version(s) that can be
used for negotiation?
For e.g. if we want to force usage of only TLS 1.2 - it will be nice to
have a mechanism to support it.

On Wed, Nov 4, 2015 at 4:08 AM, Bharath Hariharan <notifications@github.com>
wrote:

[2015-11-04 19:16] bhariharan commented on #953
@karsrini1973 Not at this time. This is a low level protocol that's usually controlled by the OS. We don't anticipate the need for apps to override this setting, since it could lead to unpredictable behavior based on the Salesforce endpoint that's being hit. [Here](https://rwhitleysfdc.wordpress.com/2015/11/04/disabling-tls-1-0-preparing-mobile-sdk-apps-for-the-big-change/) is our blog post on how

[2015-11-05 23:51] FootprintsMobile opened #984 "Location Awareness SDK for Salesforce.com"
Footprints Mobile is the only geo-fencing / location - triggered reminder mobile application for Salesforce.com.  While a mobile device is in 'locked' mode, our technology can automatically know if a field user in close to a customer account and report back to Salesforce.   We are considering publishing our Footprints Location Awareness Module, FLAME, to solve the following problems for developers

[2015-11-05 23:53] #984 closed

[2015-11-09 01:16] harsha973 commented on #430
For me, I have replaced "@string/app_package" in Salesforcemanifest with ${applicationId}. It worked.

[2015-11-09 18:41] bhariharan commented on #430
@harsha973 Yes, we are aware of this. We have fixed this in our ```unstable``` branch and will be a part of our next release.

[2015-11-10 02:40] PhamQuangThinh commented on #432
Hello All,
I have the same problem and I haven't been able to fix it yet.
My app is Android native, use Salesforce SDK 3.3.0
Sometimes( not always) I login successfully but it goes back login page from Allow/Deny page.
Do anyone have any suggestions ?
Thank you
Thinh

[2015-11-12 21:39] mwelburn commented on #949
@wmathurin have you gotten a chance to verify whether this is still a bug or something that I might have missed?

[2015-11-12 22:17] wmathurin commented on #949
If you use forcetk.mobilesdk.js (https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/libs/forcetk.mobilesdk.js), then you should end up with the correct user agent.
Are you using it?

[2015-11-12 22:23] mwelburn commented on #949
I am not - this is a hybrid_remote app so this is my separate web
application that needs to know if it is being invoked via a web view in an
Android app or just a standard browser. Would leveraging this javascript
file help with that (it looks like it would be loaded in the Android app
for access there rather, though without playing around I could be wrong)?

Thanks,
Michael

On Thu, Nov 12, 2015

[2015-11-12 22:23] mwelburn commented on #949
I am not - this is a hybrid_remote app so this is my separate web application that needs to know if it is being invoked via a web view in an Android app or just a standard browser. Would leveraging this javascript file help with that (it looks like it would be loaded in the Android app for access there rather, though without playing around I could be wrong)?

[2015-11-16 02:16] PhamQuangThinh opened #989 "Back to login page from Allow/Deny page"
I used Salesforce SDK 3.3.1
Sometimes( not always) I login successfully but it goes back login page from Allow/Deny page:
  1. Enter name and password
  2. In 2nd screen grant permission by tapping Allow but the first screen comes back up with name and password empty.

Sometimes it didn't come back login screen, but sometimes it came back login screen more than one time.
I downloaded sample projec

[2015-11-16 21:27] wmathurin commented on #949
I created an hybrid remote application with forcedroid 3.3 pointing to a visualforce page that simply prints out the user agent (see below for code). And it worked as expected. We can't reproduce the bug you have reported.

VisualForce page
[code]
Apex controller:
[code]

[2015-11-16 22:13] mwelburn commented on #949
It is possible at this point there is a newer release that might have fixed it (it wasn't an issue in the previous 2.3 version I had). I will investigate - thanks.

[2015-11-16 22:14] wmathurin commented on #949
Closing for now. Re-opened, if you think there is an issue in the newest release.

[2015-11-16 22:14] #949 closed

[2015-11-17 01:45] randalln opened #991 "sqlite error when running SmartStore#alterSoup"
I/SmartStore.trackAlterStatus: contacts STARTING
I/SmartStore.trackAlterStatus: contacts RENAME_OLD_SOUP_TABLE
I/Database: sqlite returned: error code = 17, msg = statement aborts at 18: [UPDATE long_operations_status SET lastModified=?, status=? WHERE id = ?] database schema has changed
I/SmartStore.trackAlterStatus: contacts DROP_OLD_INDEXES
/SmartStore.trackAlterStatus: contacts REGISTER_SOUP_U

[2015-11-17 15:50] randalln opened #992 "Can't compile app with compileSdkVersion 23"
Error:(681, 66) error: cannot access ParseException
class file for org.apache.http.ParseException not found

Related information:
https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client

[2015-11-17 18:56] bhariharan commented on #992
@randalln Check out our ```unstable``` branch. We've added support for ```Marshmallow``` there, and this will be a part of our next release.

[2015-11-17 18:56] #992 closed

[2015-11-17 19:02] randalln commented on #992
Any ETA on the next release?

[2015-11-17 19:37] bhariharan commented on #992
@randalln We haven't finalized the date yet, but feel free to use our ```unstable``` branch. It's pretty stable, contrary to the branch name.

[2015-11-18 00:24] bhariharan commented on #937
This is not reproducible at our end. Feel free to reopen if you have repro steps.

[2015-11-18 00:24] #937 closed

[2015-11-25 16:29] elviejokike opened #996 "Cordova build error with Salesforce MobileSDK"
I am using Cordova 5.4.0 to create a hybrid application using  Salesforce MobileSDK, after:

I have added www/bootconfig.json and the additional resorces jquery.js and forcetk.mobilesdk.js.

I get the excepion related to the ... @drawable/sf__icon...., and I fix that removing that from the AndroidManifest.xml

Then I get the error related to  Element activity#com.plugin.gcm.PushHandlerActivity, so

[2015-11-27 08:31] rnng commented on #996
Hi,
I have the exactly same Problem. Tried to compile my project + SDK in Eclipse, getting these Errors:

    Description	Resource	Path	Location	Type
    CordovaWebViewClient cannot be resolved to a type	SalesforceDroidGapActivity.java	/SalesforceSDK/src/com/salesforce/androidsdk/ui/sfhybrid	line 157	Java Problem
    IceCreamCordovaWebViewClient cannot be resolved to a type	SalesforceIceCreamWebVi

[2015-11-27 15:55] bhariharan commented on #996
@rnng Looks like you're using a newer unsupported version of ```Cordova``` against our plugin on ```master```. Try our ```unstable``` branch - that should work fine using ```Android Studio```.

@elviejokike Try installing the latest ```Cordova CLI 5.4.0``` and using it against our ```unstable``` branch. I verified that this works just fine last week. Don't forget to install ```shelljs``` as well.

[2015-12-01 19:09] mzaklama opened #1000 "SoqlSyncDownTarget nextRecordsUrl not getting updated in continueFetch"
There is an issue in the Class: SoqlSyncDownTarget Method: continueFetch.
If you have a query that returns records more than the limit, the nextReocrdsUrl is not updated there. It should be updated like in the startFetch method.
This causes and endless loop of requests as it always keep using the first nextRecordsUrl from the first call in startFetch methos.

[2015-12-01 19:16] wmathurin commented on #1000
This has been fixed in unstable (for our next release).
Here is the commit with the fix:
https://github.com/forcedotcom/SalesforceMobileSDK-Android/commit/6f8432fedd8e7d27a26926f11f095bc2cef59bac

[2015-12-01 19:16] #1000 closed

[2015-12-09 05:34] shanuka opened #1003 "File Upload Android"
Hi ,
im using API v 3.3.
[code]
uploadFile method missing. please help me to

[2015-12-09 19:44] bhariharan commented on #1003
The file upload method has moved to ```RestClient.java```.

```public RestResponse uploadFile(File theFile, String name, RestClient client, String title, String description)```

[2015-12-09 19:44] #1003 closed

[2015-12-11 03:08] harsha973 opened #1004 "AccountOptions IdentityURL null in Signin process"
I am getting a crash while loggin in to the App at random cases. Crash is

     java.lang.NullPointerException
       at java.net.URI.parseURI(URI.java:353)
       at java.net.URI.<init>(URI.java:204)
       at com.salesforce.androidsdk.rest.ClientManager.peekRestClient(ClientManager.java:209)
       at com.salesforce.androidsdk.rest.ClientManager.peekRestClient(ClientManager.java:149)
       at c

[2015-12-13 22:04] bhariharan commented on #1004
This is fixed [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1006).

[2015-12-13 22:04] #1004 closed

[2015-12-13 22:05] bhariharan commented on #996
I verified that ```Cordova 5.4.0``` works fine against our ```unstable``` branch. Feel free to reopen this if you still see issues.

[2015-12-13 22:05] #996 closed

[2015-12-21 14:41] toddhalfpenny commented on #970
I believe I'm still seeing this issue with SDK v4.
I have;
* node 5.3.0
* SF Mobile SDK 4.0
* Cordova 5.4.1
* Gradle 1.4
* cordova-android 1.4

The project seems to build OK but I get this;
[code]

This appears to be the same for a projects both manually created (`cordova plugin ad ...`) or using forcedroid.

[2015-12-21 20:43] bhariharan commented on #970
@toddhalfpenny Could you post the console output generated by ```forcedroid```? Do you have ```shelljs``` installed?

[2015-12-21 21:16] toddhalfpenny commented on #970
@bhariharan Sorry, do you mean the logs generated for the `create` command or logs at run time?

[2015-12-21 22:56] bhariharan commented on #970
@toddhalfpenny I think the ```shelljs``` location might be the issue here. Try this:
* ```npm install forcedroid``` locally in a folder.
* ```npm install shelljs``` locally in that same folder.
* ```node_modules/.bin/forcedroid create``` from that same folder.
Let me know if that works for you?

[2015-12-21 23:18] toddhalfpenny commented on #970
@bhariharan Yes, this seems to work OK, for the sample app at least.

I will try to see how I get on with my other project to see if it's that and the cordova cli commands that were causing issues. Thanks for your help so far.

On an aside I did some IOS testing earlier and everything is looking good so far.

[2015-12-22 08:29] lingjunjiang opened #1015 "Cannot run app on device (Android v5.1.1) via Android Studio"
Hi, I came across an issue when trying to run my own created mobile sdk android app. Below are my steps for running the app in device (Android v5.1.1).

1. I installed the latest gradle v2.10, and added GRADLE_HOME/bin to the path variable.

2. I run "cordova plugin add https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin" to install mobile sdk 4.0.0.

3. I run "cordova platform add an

[2015-12-22 09:49] lingjunjiang commented on #1015
It seems there are 2 zzlz$zza.class, one in com.google.android.gms:play-services:7.5.0 and another in com.google.android.gms:play-services:8.4.0. After I commented out the line of "compile "com.google.android.gms:play-services:7.5.0"", the app was finally run on my device. The Salesforce login page shows and I can login successfully. However, when it was trying to open local index.html file, it sh

[2015-12-22 10:31] lingjunjiang commented on #1015
This was finally solved. The issue is there is an external js loading in the index.html which takes much time. Add "<preference name="loadUrlTimeoutValue" value="99999999" />" to config.xml solves the problem.

Thanks anyway.

[2015-12-22 12:09] toddhalfpenny commented on #970
@bhariharan An update. Although forcedriod created app is able to run up (as is my manually built one) I have a new issues now when trying to use the SmartStore.

I see this issue when I run this from the JS dev console;
[code]

And this is the logcat output;
[code]

Searching for this issue seems to point to locations of the libs, but I don't understand it yet.

Should I create a separate ticket

[2015-12-22 14:47] stvnhg opened #1016 "Failed to install 'com.salesforce':CordovaError: Plugin doesn't support this project's cordova-android version."
Hello

I'm trying to create a new project but I keep getting an error.
[code]

I installed forcedroid@3.3.1 and cordova@4.0.0 globally. I also tried with cordova@5.0.0 but no luck.  Any ideas?

Thank you

[2015-12-22 15:03] toddhalfpenny commented on #970
*UPDATE* I think it's to do with the **jniLibs.srcDir** in the SmartStore/build.gradle. I'm trying this with
`jniLibs.srcDir 'libs'` and I think I have it now working. If it's successful I'll create a PR

[2015-12-22 18:24] bhariharan commented on #1016
@stvnhg ```forcedroid@3.3.1``` doesn't support ```Cordova 5.0```. Please install the latest ```forcedroid - 4.0.0``` and try again. This supports ```Cordova 5.0```. Feel free to reopen if you still see issues.

[2015-12-22 18:24] #1016 closed

[2015-12-22 18:38] bhariharan commented on #970
@toddhalfpenny Definitely a different issue. This does seem like some weirdness with that particular emulator/device though. It is basically complaining that it can't load the native ```SQLCipher``` library (```.so``` file). However, if the sample app that uses ```SmartStore``` works fine, other apps should work fine too. Did you check your ```libs``` folder?

[2015-12-23 07:16] stvnhg commented on #1016
@bhariharan Like I said, my first try was with cordova 4.0.0 and it didn't work. After that tried with cordova 5.0.0 and I got the same error. Any ideas?

Thank you

[2015-12-23 11:47] toddhalfpenny opened #1017 "SmartStore usage gives java.lang.UnsatisfiedLinkError"
MobileSDK =  v4.0.0

When using forcedroid apps are created and built OK, but crash with the following error when trying to use the SmartStore

[code]

See other issues for some more info;
* https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin/issues/138
* #970

I am able to reproduce this using both Linux and Mac build systems and see it on a varity of emulators and real devices.

To

[2015-12-23 18:53] aravindtrue opened #1019 "Not redirecting to Salesforce login page while opening the app"
forcedroid version 4.0.0
cordova version 5.4.1
phonegap version 5.3.9
cordova platform version android 5.0.0
mac OS X Yosemite 10.10.5

I followed the below steps to create a new app,

[code]

[code]
Then, I ran the following code
[code]
I see an empty screen in my emulator with below error in the browser console i.e., via `chrome://inspect/#devices`

[code]

![screen shot 2015-12-24 at 12 21 18 a

[2015-12-23 23:57] bhariharan commented on #1019
The problem is right here (from your console output):

[code]

[2015-12-23 23:57] #1019 closed

[2015-12-24 03:16] aravindtrue commented on #1019
I think it is already installed. Tried to check the version and got this,
[code]

[2015-12-24 04:51] aravindtrue commented on #1019
I tried you mentioned in that comment,
[code]
and ended up with below error,
[code]
I see the activity is created twice with same name,

[code]

[2015-12-24 08:27] aravindtrue commented on #1019
Tried,

[code]
Got the below error,

[code]
Changed `@drawable/sf__icon` to `@drawable/icon` and on re-built, got the same error again. as below,
[code]

[2015-12-24 20:50] bhariharan commented on #1019
Looks like manifest merger failed. Did you try removing one of the duplicate entries in the manifest file?

[2015-12-25 00:47] bhariharan commented on #1016
@stvnhg If you're using ```forcedroid@3.3.x```, then you'll need to use ```Cordova platform 3.6.x```, and ```Cordova CLI < 4.0```. ```forcedroid@3.3.x``` will NOT work with ```Cordova 5.x```.

[2015-12-25 03:13] aravindtrue commented on #1019
Yes, I did but it is created back again.
Looking at http://tools.android.com/tech-docs/new-build-system/user-guide/manifest-merger#TOC-Markers

[2015-12-28 09:49] stvnhg commented on #1016
@bhariharan I can't get it to work. These are the steps I've taken.

First try
```npm install forcedroid -g```
```npm install cordova@3.6.3-0.2.13 -g```
```forcedroid create```
Error message: Installed cordova command line tool version (3.6.3-0.2.13) is less than the mini
mum required version (4.0).  Please update your version of Cordova.

Second try (Uninstalled everything first)
```npm install f

[2016-01-04 10:17] lingjunjiang opened #1021 "SwitchToUser function issue"
Hi my friends,

I've got an issue on Android (5.1.1 Galaxy S6) while calling switchToUser function as follows:
cordova.require("com.salesforce.plugin.sfaccountmanager").switchToUser(user);

After calling this method, the app goes to the background (still exists). There is no explicit error from the log. And when opening the app again, it continue to show the target page correctly. The problem is w

[2016-01-04 10:23] #1015 closed

[2016-01-06 09:06] aravindtrue commented on #1019
@bhariharan
So far, no luck. Any workaround?

[2016-01-06 13:02] stvnhg commented on #868
@Nemisis Did you ever find a fix for this? We have similar behavior. Thank you.

[2016-01-07 13:44] bobceuppens commented on #989
@PhamQuangThinh We experience the same issue.
Did you find a solution for this?

[2016-01-08 16:23] elviejokike commented on #996
It does not work...  can you provide me with the right steps to get it running?

[2016-01-08 19:15] coderReview opened #1026 "Application hangs indefinitely"
1- Open an Salesforce application (SmartSync explorer example for instance)
2- Let it finish loading and sync down data
3- Turn Airplane mode on
4- Edit a record and click save
5- Turn Airplane mode off
6- Synchronize up records

Result: Synchronization takes a very long time (>20min) or hangs indefinitely
Expected: Synchronization should happen quickly

[2016-01-12 01:52] #1026 closed

[2016-01-14 06:43] congtuyenvip commented on #989
@bobceuppens
I and @PhamQuangThinh  had found root cause for this issue, and had solution for this.

[2016-01-14 06:49] congtuyenvip commented on #868
@stvnhg , @Nemisis
I and @PhamQuangThinh had found root cause for this issue, and had solution for this.

[2016-01-14 07:35] stvnhg commented on #868
@congtuyenvip Would you mind sharing it? Thank you!

[2016-01-21 23:43] bhariharan commented on #1017
Fix is [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1036).

[2016-01-21 23:43] #1017 closed

[2016-01-22 22:14] bhariharan commented on #1016
@stvnhg Unfortunately, the ```master``` branch of the plugin repo is being pulled by the script, instead of the specific tag. We fixed this bug recently, but since you have an older version of ```forcedroid```, you'll need to upgrade to the latest.

[2016-02-04 23:11] bhariharan commented on #1021
@lingjunjiang Are you able to reproduce this issue with the latest version of Mobile SDK (4.0.2)? Have you tried our sample apps?

[2016-02-04 23:13] bhariharan commented on #989
This sounds like an issue with the scopes in the login workflow. Mobile SDK has no control over the login page - we simply display it within a WebView.

[2016-02-04 23:13] #989 closed

[2016-02-05 01:16] congtuyenvip commented on #989
As we investigate, login by using webview  still works correctly. We still login successfully but login screen come back again. So we surely that this is SDK bug, because we had already fixed it.

[2016-02-05 06:34] lingjunjiang commented on #1021
@bhariharan I tested with the AccountEditor sample app (SalesforceMobileSDK-Android/hybrid/HybridSampleApps/AccountEditor) in my device (Galaxy S6 - android 5.1.1), it has the same behaviour. When switching to a new user, the app crashed. And then open the app again, it continues with the new logged in user. Any suggestion would be appreciated. Thanks.

[2016-02-05 21:55] bhariharan commented on #1021
@lingjunjiang Do you have a stack trace for the crash (the above stack trace has no crash information)? Also, could you try this on an emulator to make sure it's not device specific?

[2016-02-06 03:19] lingjunjiang commented on #1021
@bhariharan I tested on an emulator (Android 5.1) and it works fine without this problem, so it seems to be an issue for specific device, in my case Galaxy S6 Android 5.1.1.

For the stack trace, usually, there is an Exception stack track when app is crashing, however, I didn't get any Exception stack track, below is the exact log I got when AccountEditor was crashing when switching to a different

[2016-02-09 00:00] wmathurin commented on #991
Could you give us more details?
What version of the SDK are you on?
What version of the SDK were you on when the database was setup?

[2016-02-12 23:30] bhariharan commented on #1021
@lingjunjiang The stack trace here doesn't indicate any crash within the app. Closing this issue, since it appears to be a device-specific issue. I can't reproduce this on any Nexus devices I have either.

[2016-02-12 23:30] #1021 closed

[2016-02-15 10:56] asinha08 opened #1048 "Error while creating hybrid application using forcedroid"
I am working on mac machine. I am getting following error when I am creating hybrid application using forcedroid. Please note: I have shelljs installed as -g and i think forcedroid also have shelljs. So that should not be a problem. For security reason i have add XXXXX in the message below. my cordova version is 6.0.0 I am stuck and block. Please help

    $ forcedroid create
    Enter your applic

[2016-02-15 15:41] wmathurin commented on #1048
Forcedroid depends on shelljs and shelljs published a new version (0.6.0) a few days back that broke forcedroid. We will have a patch out very soon with the fix.

[2016-02-15 17:50] asinha08 commented on #1048
As I am stuck. What we need to do, to fix this manually.

[2016-02-15 22:30] bhariharan commented on #1048
@asinha08 Stay tuned. We'll have a fix for this the upcoming week, at which time you can upgrade to the latest ```forcedroid```.

[2016-02-16 05:45] asinha08 commented on #1048
@wmathurin & @bhariharan, can you please let me know the date by which patch will be released.

[2016-02-16 06:27] asinha08 commented on #1048
Also please let me know shelljs version which is compatible with current forcedroid.

[2016-02-16 07:22] kchitalia commented on #1048
Current forcedroid should work with shelljs 0.5.3

Sent from my iPhone

On Feb 15, 2016, at 10:27 PM, Ashish Sinha <notifications@github.com> wrote:

Also please let me know shelljs version which is compatible with current
forcedroid.

—
Reply to this email directly or view it on GitHub
<https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues/1048#issuecomment-184541775>
.

[2016-02-16 19:47] bhariharan commented on #1048
@asinha08 Sometime this week.

[2016-02-17 12:08] gsupratim0505 commented on #1048
@asinha08 when you install forcedroid or forceios the latest version of shelljs gets installed as a node module under forcedroid folder. you can uninstall shell js and install shelljs version 0.5.3 under forcedroid folder. it worked for me

[2016-02-17 13:56] asinha08 commented on #1048
yup workaround solves the issue

[2016-02-17 16:13] #1048 closed

[2016-02-19 10:55] lokendrajhala opened #1056 "Not able to Query Record with where clause"
I am using the following query to get Asset

`String soql="SELECT {Asset:Name},{Asset:Description} FROM {Asset} WHERE {Asset:RecordTypeId}= '0124B0000000D4fQAE'";`

[code]

I am getting the following error

` com.salesforce.androidsdk.smartstore.store.SmartSqlHelper$SmartSqlException: Asset does not have an index on RecordTypeId at character 59`

Its working fine if i remove the where clause
My In

[2016-02-22 19:29] wmathurin commented on #1056
If you already launched the application and logged in, then change the index specs and restart the application, the soup won't get the new index specs.
You have two options:
- logout and log back in (that causes the database to be recreated) <- this is the recommended approach during development
- call alterSoup instead of registerSoup from your code if the soup already exists <- this is the path

[2016-02-22 19:29] #1056 closed

[2016-02-23 16:02] fungi-fungi opened #1065 "New SmartStore entries in native Android app"
Hi,

I am trying to get syncUp to work and was wondering fs there is a reason why fields
"__local__", "__locally_created__" etc are not set automatically on

`smartStore.create(SOUP_NAME, object)`

please let me know if I am missing something.

Best, Iurii

[2016-02-23 19:04] wmathurin commented on #1065
SmartStore can be used independently of SmartSync (it is just the store SmartSync happens to use).
The local and locally_created flags are for SmartSync only and therefore it doesn't make sense to have SmartStore's methods manage them.

[2016-02-23 19:04] #1065 closed

[2016-02-23 19:40] fungi-fungi commented on #1065
Thank you for clarification

[2016-02-29 16:03] fungi-fungi opened #1073 "Query by "Like" doesn't work"
Hello,

Please correct me if I wrong but it seems like QuerySpec builder for LIKE quires doesn't work.

If you will take a look at [QuerySpec.computeWhereClause()](https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/642cd44ac91b112aa6ec4f2aab08fc37cf14d450/libs/SmartStore/src/com/salesforce/androidsdk/smartstore/store/QuerySpec.java#L261) you can see that produced query result will not

[2016-02-29 17:04] #1073 closed

[2016-03-01 19:11] bhariharan commented on #1019
@aravindtrue We've fixed these issues in our latest version of ```Mobile SDK 4.1.1```. Grab the latest and give it a shot.

[2016-03-02 17:17] PrasantaPardhi commented on #1019
I tried with the latest version but still getting a blank "Users" screen. I am trying with hybrid_local. Salesforce user authentication screen is not coming. Any exact steps to do.

[2016-03-04 10:52] asinha08 opened #1074 "After creating project using forcedroid getting manifest merge issue."
D:\........\platforms\android\AndroidManifest.xml:30:9 Error:
        Element activity#com.adobe.phonegap.push.PushHandlerActivity at AndroidManifest.xml:30:9 duplicated with element declared at AndroidManifest.xml:6:9
D:\.........\platforms\android\AndroidManifest.xml:0:0 Error:
        Validation failed, exiting
:processDebugManifest FAILED

FAILURE: Build failed with an exception.

* What went

[2016-03-07 12:24] marta0483 opened #1077 "Back button not working on Android 6 the first time"
We are using Salesforce SDK 4.1.0 for hybrid applications (in our case local instead of remote) on Android 6 platform. When the application is launched the first time, the back button doesn´t work. After closing and opening again, it works correctly. On Android 5 it doesn't happen.﻿

[2016-03-08 17:01] #991 closed

[2016-03-11 06:17] jayadaadrit commented on #1074
Facing the same issue..

[2016-03-12 00:05] wmathurin commented on #1077
Probably a cordova w/ android 6 bug.
Are you registering a backbutton handler in your application (https://cordova.apache.org/docs/en/5.0.0/cordova/events/events.backbutton.html)?

[2016-03-12 00:05] wmathurin commented on #1074
What version of the sdk are you using? What version of cordova cli are you running? And finally, what version of shelljs do you have on your system?

[2016-03-12 00:07] wmathurin commented on #423
We are not going to enhance smartsync.js. We recommend that you use the smartsync cordova plugin instead which leverages the native smartsync library. (It doesn't support saving graph of objects either, but if we ever add support for it, it would be there).

[2016-03-12 00:07] #423 closed

[2016-03-12 00:09] wmathurin commented on #184
I don't think there is any plans of doing that work.

[2016-03-12 00:09] #184 closed

[2016-03-14 09:03] jayadaadrit commented on #1074
Sorry for late response :)
Versions are as follows-
com.salesforce(plugin): 4.1.1
cordova version: 6.0.0
forcedroid version: 4.1.1

[2016-03-14 12:17] saikumar100 commented on #828
Hi, I m trying to develop salesforce hybrid_local app.
My cordova version@5.4.1
eclipse ADT 23.0.2
When ever i run my app in android device getting crashed.
Exception:03-14 17:39:19.268: E/AndroidRuntime(1236): java.lang.RuntimeException: Unable to instantiate application com.salesforce.androidsdk.phonegap.app.HybridApp: java.lang.ClassNotFoundException: Didn't find class "com.salesforce.androidsd

[2016-03-14 12:18] saikumar100 opened #1079 "Unable to instantiate application com.salesforce.androidsdk.phonegap.app.HybridApp: java.lang.ClassNotFoundException: Didn't find class "com.salesforce.androidsdk.phonegap.app.HybridApp va.lang.ClassNotFoundException"
Hi, I m trying to develop salesforce hybrid_local app.
My cordova version@5.4.1
eclipse ADT 23.0.2
When ever i run my app in android device getting crashed.
Exception:03-14 17:39:19.268: E/AndroidRuntime(1236): java.lang.RuntimeException: Unable to instantiate application com.salesforce.androidsdk.phonegap.app.HybridApp: java.lang.ClassNotFoundException: Didn't find class "com.salesforce.androidsd

[2016-03-15 10:21] jayadaadrit commented on #1074
I'm stuck! can you please reply fast :(

[2016-03-16 00:07] wmathurin commented on #1079
Was there any error when you generated your application with forcedroid?
It looks like the Mobile SDK library projects might be missing.

[2016-03-16 05:43] saikumar100 commented on #1079
I have created project with cordova platform add android@5.0.0

[2016-03-16 05:51] saikumar100 commented on #1079
Whenever i create an Android hybrid app with help of forcedroid, in terminal it is throwing error Variable(s) SENDER_ID missing. So because of that reason i am using cordova.
Full detailed steps in creating project is:
Step-1:
cordova create TestApp com.test.app TestApp.
Step-2:
Edited index.html,force.js,bootconfig.json files
Step-3:
Added cordova sdk plugin,
cordova plugin add https://github.com

[2016-03-16 18:32] kchitalia commented on #1074
Can you please provide us with the shelljs version?

[2016-03-16 18:35] wmathurin commented on #1079
Trying installing shelljs@0.5.3 first, then install the SalesforceMobileSDK-CordovaPlugin.

[2016-03-17 07:32] jayadaadrit commented on #1074
shelljs 0.5.3
I don't know why I've to mention this? it comes with forcedroid.

[2016-03-17 07:35] toddhalfpenny commented on #1074
Hey, do you have any other plugins installed? I've found that if I do then the order of installation is important.

[2016-03-17 07:46] jayadaadrit commented on #1074
com.salesforce 4.1.1 "SalesforceMobileSDK Plugins"
cordova-plugin-device 1.1.1 "Device"
cordova-plugin-dialogs 1.2.0 "Notification"
cordova-plugin-file 4.1.1 "File"
cordova-plugin-file-transfer 1.5.0 "File Transfer"
cordova-plugin-media 2.2.0 "Media"
cordova-plugin-whitelist 1.2.1 "Whitelist"
de.sitewaerts.cordova.documentviewer 0.2.0 "SitewaertsDocumentViewer"
phonegap-plugin-push 1.5.3 "PushPlug

[2016-03-17 07:51] toddhalfpenny commented on #1074
Ok, you could try, removing and re-adding the Salesforce plugin after adding the others, and then add the platform.
Adding the Salesforce plugin last seems to work for us.

[2016-03-21 15:24] lucyyu24 opened #1081 "React native error: Can't find variable: __fbBatchedBridge"
Got JS Exception: ReferenceError: Can't find variable: __fbBatchedBridge

Getting this error when instantiating the app using forcedroid for react-native even though the server is running.

[2016-03-21 18:06] wmathurin commented on #1081
Please follow the recommendation here https://github.com/facebook/react-native/issues/4881#issuecomment-166148096
Re-open if you are still having issues.

[2016-03-21 18:06] #1081 closed

[2016-03-22 15:19] TRPLucy opened #1084 "Unable to run react native app"
Running the react native template app in Android Studio, I get this exception:
`java.lang.AssertionError: Attached DialogModule to host with pending alert but no FragmentManager (not attached to an Activity).`
I made sure the server's running and I was able to log in to Salesforce, but the app crashes after login.

On the first run, I also got a:
`android.view.WindowManager$BadTokenException: Unab

[2016-03-22 21:52] wmathurin commented on #1084
A fix is making its way into the unstable branch: see https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1085/commits/17153f666f4f8de43a7f6acd0e31926df1363aba

[2016-03-24 12:10] daveespo opened #1088 "App crash when launching app due to View race condition -- IllegalStateException"
I don't have a reliable repro case for this -- but I've had my app crash enough times to know it wasn't a freak occurence

I am upgrading my hybrid app (hosts a Visualforce page) from MobileSDK 3 to 4.1.1

I'm currently running off of the unstable branch in git

When my app launches, sometimes it immediately crashes with

[code]

If I relaunch the app, it generally comes up just fine.

It appears

[2016-03-24 13:08] daveespo commented on #1088
I switched back to the 4.1.1 tag and I'm unable to repro so this appears to be only reproducible on the unstable branch

[2016-03-24 17:53] wmathurin commented on #1088
A fix is making its way to unstable: https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1090

[2016-03-24 17:53] #1088 closed

[2016-03-24 20:32] TRPCindy commented on #1084
Thanks. It works fine after I pull the unstable branch.

[2016-03-25 13:40] jclark-dot-org commented on #1079
I am having the same issue.  I originally worked around the sender ID issue by using a custom fork of SalesforceMobileSDK-CordovaPlugin that sets the SenderID, but based on [feedback from salesforce][1] on an upcoming patch to address this, I switched to the unstable branch of the official repo. Either way, I continue to have issues with the manifest file getting duplicate entries, as noted above

[2016-03-25 13:53] toddhalfpenny commented on #1079
@jclark-dot-org I have seen that the order in which plugins are added is important when it comes to duplicate entries in the manifest. If you have more than one then at the moment I find I need to add the SF one last, and then add the platform; doing it this way I no longer see the errors in the manifest.

I have also mentioned this in https://github.com/forcedotcom/SalesforceMobileSDK-Android/iss

[2016-03-25 14:50] jclark-dot-org commented on #1074
@toddhalfpenny At the moment I'm just trying to build an empty project with no additional plugins, and that's enough to run into the duplicate entries issue, once `cordova prepare android` runs an extra time.  For example:

    forcedroid create --apptype=hybrid_remote --appname=sdktest --targetdir=. --packagename=org.jclark.sdktest --startpage=/apex/BasicVFPage
    cd sdktest
    cordova prepare

[2016-03-25 14:56] jclark-dot-org commented on #1079
@toddhalfpenny That's not working for me on a new forcedroid project with no other plugins, see my [comment  on issue #1074][1].  When you do this and it eliminates the duplicate entry issue, do you then get the ClassNotFoundException issue from the OP?

[1]: https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues/1074#issuecomment-201320241

[2016-03-25 15:03] toddhalfpenny commented on #1074
Aha... you're using `cordova build`, sorry I missed that. I too am also unable to get a build working like that, and have moved to currently using, following `cordova prepare`, gradle commands instead (or opening in Android Studio and building from there). These commands seem to work for me (it's either build or assemble, I can't remember which at the mo, or maybe both).

[code]

[2016-03-25 15:32] jclark-dot-org commented on #1074
Ah, I have not tried directly running gradle.  Couldn't get that to work with the project where I manually fiddled with android.json, but creating a brand new empty project, and using gradle produces an app that builds and runs (again, with my patched forcedroid to avoid SENDER_ID errors, see earlier comment):

    forcedroid create --apptype=hybrid_remote --appname=sdktest --targetdir=. --package

[2016-03-26 06:55] rjain90 opened #1092 "Getting AuthFailureError on SOQL Requests"
Hi, I'm trying to execute queries in my android app but keep getting AuthFailureError everytime.  My code is:

[code]

[2016-03-28 03:59] karsrini1973 opened #1093 "Issue with mobile push registrations for Android native apps"
We have an Android native application used by community users of our org. Our Salesforce backend pushes android notifications to active community users when there is new/updated user specific data available.

We have deployed our package and distributed tablets running our native application to our customers. Post deployment we notice that for some of the users, the push notifications stop working

[2016-03-28 07:14] ritunagpal opened #1094 "I'm trying to execute SOQL queries in my android app but keep getting AuthFailureError everytime"
I also try to simply run the template app included in salesforce sdk but still i am getting auth faliure error.
api_version used is v35.0.
Following is my code :

 sendRequest("SELECT Name From CONTACTS");

private void sendRequest(String soql) throws UnsupportedEncodingException {
RestRequest restRequest = RestRequest.getRequestForQuery( getString(R.string.api_version), soql);
if(restClient!=null

[2016-03-29 18:06] wmathurin commented on #1092
What version of the SDK are you using?
How did you get your restClient object in the code above?

[2016-03-29 19:31] rjain90 commented on #1092
I'm using SDK Version Code - 47, Version Name - 4.0.2.
I got the restClient in the onResume of the SalesforceActivity. We have used the same restClient object for other type of requests successfully. For Eg: the following request runs perfectly
`restClient.sendAsync(restRequest, new RestClient.AsyncRequestCallback(){...})`
where restRequest is a request to fetch feed-elements from a group.

[2016-03-29 22:15] bhariharan commented on #1093
Thanks for the detailed explanation.

a) Expiry of mobile push registrations has been implemented on the Salesforce server side. The client (Mobile SDK) has no control over this behavior, which is why we attempt to re-register periodically.
b) Unfortunately, there's no way to workaround this without pushing a client side update.
c) We will look at the re-registration flow from our end, to ensure i

[2016-03-30 07:25] ritunagpal commented on #1092
that's the same issue i am facing, i try to run(execute) the template app(which describes how to use the SOQL queries)included in the salesforce but no use,after executing the simple "SELECT Name from contacts" got the Auth Faliure error.

[2016-03-30 13:37] karsrini1973 commented on #1093
Thanks Bharath. So - the only approach for us is to immediately make the
necessary changes in our app (to call PushMessaging.register) on every
startup - at the least.

We will look at incorporating this as an immediate mitigation. Do let us
know of any update to the re-registration flow at mobile SDK level - so
that if a patch becomes available, we can incorporate the same in our
future releases.

[2016-03-30 15:18] rachelleTRP opened #1096 "React Native App Crash"
Getting this error when I run the react native template app on Android Studio. Not able to log in, just crashes upon start up.

`java.lang.RuntimeException: An error occurred while executing doInBackground()
                                                                                                   at android.os.AsyncTask$3.done(AsyncTask.java:309)

[2016-03-30 22:42] wmathurin commented on #1096
Did you generate your application with forcedroid ?
Please try that or have a look at the sample application here: https://github.com/forcedotcom/SmartSyncExplorerReactNative

[2016-03-30 22:42] #1096 closed

[2016-03-30 22:43] wmathurin commented on #1094
Are you running the template application from the Mobile SDK repo or did you generate an application using forcedroid?

[2016-04-01 06:17] ritunagpal commented on #1094
I am running the app from mobile sdk repo(I simply take clone and import that in android studio and execute it).

I simply create an free trial account on salesforce and then
I run the application named **Rest Explorer** and login from my username and password
and execute the simple query,

Please find the screenshot for your reference.
![screenshot_2016-03-30-16-48-09](https://cloud.githubusercon

[2016-04-01 19:57] wmathurin commented on #1094
In a browser, could connect to your org using the workbench https://workbench.developerforce.com/login.php, then try to do the same query from the workbench's rest explorer?
I just want to make sure the user/org you are using is allowed to do those API calls.

[2016-04-04 10:28] ritunagpal commented on #1094
Thanks for your response,
Yes i think my account was expired now i have created an new account and that template app works.

But still i am not able to **execute the query for an organization** ,and yes i have made the chatter api requests with that object and succesully implemented it.
Here is the brief description what i have done

I included an server.xml file which takes the user to my organiz

[2016-04-06 11:49] jayadaadrit commented on #1016
Android project created with cordova-android@5.1.1
Installing "com.salesforce" for android
Plugin doesn't support this project's cordova-android version. cordova-android: 5.1.1, failed version requirement: 5.0.0
Skipping 'com.salesforce' for android

Can you please help me on this?

[2016-04-06 21:10] wmathurin commented on #1094
I don't think it's an SDK issue. It could be a permission issue. Have you tried your query in workbench:
https://workbench.developerforce.com/login.php

[2016-04-06 21:11] wmathurin commented on #1016
The solution is in the error message. We don't support 5.1.1, you need to install cordova-android@5.0.0 instead,

[2016-04-08 13:12] ritunagpal commented on #1094
Yes,actually those query works fine in the ios app,but not in android app.
Do you still think it can be the permission issue.

[2016-04-11 09:06] #1094 closed

[2016-04-11 09:07] ritunagpal commented on #1094
Solved!

[2016-04-11 20:27] bhariharan commented on #1094
@ritunagpal What was the issue?

[2016-04-12 15:03] BrettMN opened #1104 "README.md for forcedroid doesn't contain instructions about how to use forcedroid"
The README.md at https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/hybrid/README.md states that:

And the link is for forcedroid on npmjs.org.  The README.md that is used for the npm packange contains no data for using forcedroid.

Would it be possible to add details about the use of forcedroid and any important details to the README.md that is displayed for the npm package?

[2016-04-12 16:38] rwhitley commented on #1104
We'll work on improving that, but in the meantime you can get the instructions from the Mobile SDK Dev Guide here: https://developer.salesforce.com/docs/atlas.en-us.mobile_sdk.meta/mobile_sdk/hybrid_ios.htm

[2016-04-12 21:28] bhariharan commented on #1104
Thanks for bringing this to our attention @BrettMN. The instructions for ```npm``` are [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/npm.md). Looks like there's a bug in the script that swaps the readme files while publishing. I'll look into getting that fixed.

[2016-04-13 06:10] ritunagpal commented on #1094
Actually in boofconfig file we need to give the permission for token,which was missing.

[2016-04-15 20:28] TRPCindy opened #1105 "Customize Login Screen"
Hi, is there a way to customize the login screen of the react native salesforce app?

[2016-04-20 10:01] ravitheja-bandari commented on #1079
Hi all, I am facing the same issue which @jclark-dot-org is facing while creating salesforce hybrid_local app. I tried all the fixes provided by @jclark-dot-org [here](http://salesforce.stackexchange.com/questions/115033/cannot-create-working-remote-hybrid-android-app-with-mobile-sdk-4-1?newreg=99bbdd7deef04288bf990d042248c2af) but ended up getting  java.lang.ClassNotFoundException: Didn't find cl

[2016-04-20 10:55] saikumar100 commented on #1079
Hi, I have found the solution and you can check out here "https://sainickblog.wordpress.com/2016/04/20/creating-your-first-cordova-hybrid-android-app-using-salesforce-mobilesdkfor-linux-users/"

[2016-04-20 13:14] ravitheja-bandari commented on #1079
@saikumar100  I just created an application following the steps as mentioned in the link given by you. Still facing the same problem. Once I build and run the application either from android studio or from CLI, I am getting the following error.

java.lang.ClassNotFoundException: Didn't find class "com.salesforce.androidsdk.phonegap.app.HybridApp"

[2016-04-22 05:30] saikumar100 commented on #1079
1) Don't build Using this command "cordova build"
2)Open your salesforce project in latest version of Android studio.
3)Add gradle dependencies to ur project(if you are using Android studio then it will automatically include dependencies for you).
4)After importing project into android studio build your project in Android Studio.
5)Run android app inside android studio.

[2016-04-25 21:35] wmathurin commented on #1105
Yes it can be done from the java code.

If you just want to change the layout, provide a sf__login.xml layout in your application and it should be picked up instead of the one that comes with the SDK.

If you need to do more than change the layout then change the SalesforceReactSDKManager.init call in your application class (the class called <YourAppName>ReactNativeApp.java) to:

[code]

[2016-04-25 21:35] #1105 closed

[2016-04-26 10:43] jayadaadrit commented on #1016
Hello,
What's the error about when I'm trying to add any plugin.
Fetching plugin "cordova-plugin-x-toast" via npm
Installing "cordova-plugin-x-toast" for android
**Error: Cannot read property 'attrib' of null**

[2016-04-26 23:04] wmathurin commented on #1016
I recommend you post that question on the cordova-plugin-x-toast repo: https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin

[2016-04-27 06:16] jayadaadrit commented on #1016
But I'm getting this error for nearly all the plugins.

[2016-04-29 09:23] asinha08 opened #1111 "SENDER_ID missing issue"
When I create new application using forcedroid I get following issue,
Failed to install 'phonegap-plugin-push':Error: Variable(s) missing: SENDER_ID

Please NOTE, I am have to use push notification feature but how do i need to provide SENDER_ID to forcedroid.

I also tried workaround mentioned in below link... when application is launched. sales force login page is not shown (there is no javascrip

[2016-04-29 11:44] asinha08 commented on #1111
I also tried workaround mentioned in below link... but when application is launched. sales force login page is not shown.

http://salesforce.stackexchange.com/questions/113727/sender-id-error-while-creating-hybrid-app-using-forcedroid

[2016-04-29 22:06] bhariharan commented on #1111
The latest version of the ```PushPlugin``` broke our plugin. We have a fix for this and it will be in our next release. Meanwhile, you should be able to uninstall and then add the latest plugin like the post mentions.

[2016-04-29 22:06] #1111 closed

[2016-05-03 10:00] asinha08 commented on #1111
As I mentioned in my query above, I tried the workaround and it is not working.

[2016-05-03 11:37] asinha08 commented on #1111
Also Please let me know when next version will be available.

[2016-05-03 18:59] #1084 closed

[2016-05-03 19:01] wmathurin commented on #1092
Make sure the oauth client id you are using in your application has the right scopes. For more information check out our developer guide: https://bitly.com/1vwq1rL

[2016-05-03 19:01] #1092 closed

[2016-05-04 05:40] asinha08 opened #1112 "SENDER_ID missing issue"
Issue: https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues/1111
This issue is not fixed and the workaround doesn't work. I am not sure why, 1111 issue was closed.

[2016-05-04 11:40] masterravi opened #1113 "SmartSyncExplorer Demo : Object type 'Contact' is not supported"
Whenever I login through Salesforce and make call to fetch contact list always getting error:

                                                                                                org.json.JSONException: Value [{"message":"\nEmail, Department, HomePhone from Contact limit 10000\n                                  ^\nERROR at Row:1:Column:105\nsObject type 'Contact' is not supported. If y

[2016-05-04 18:40] wmathurin commented on #1113
Please check the profile/permissions of the user you are logging in with.
Try it here https://workbench.developerforce.com/login.php and if you are able to run the SOQL from workbench for that user/org then it should work from the sample app as well.

[2016-05-04 18:40] #1113 closed

[2016-05-06 20:23] huminzhi commented on #1077
@marta0483 Is this issue resolved?

[2016-05-06 23:14] bhariharan commented on #1112
@asinha08 We have fixed this in our latest patch release ```4.1.2```.

[2016-05-06 23:14] #1112 closed

[2016-05-09 12:09] asinha08 opened #1118 "After installing latest forcedroid (version 4.1.2) on application launch get"
After installing latest forcedroid (version 4.1.2) I have added my client id and callbackurl. I am getting following error. Default application should list my users. But it through error like **com.salesforce.androidsdk.phonegap.plugin.SalesforceOAuthPlugin class not found**.

I also tried compelling the default application on android studio.

``
05-09 17:25:02.952 29166-29305/com.abc.xyz W/System

[2016-05-12 05:46] asinha08 commented on #1118
Can anyone please comment on this issue..?

[2016-05-12 07:44] ritunagpal opened #1125 "Access the file from salesforce"
Hi,I am using salesforce for my android app in backend.

and somewhere while using SOQL, I am getting response something like this :

Article_FileNames":"Template.doc"
Article_FileContentTypes":"application/msword
Article_FileBodys":"/services/data/v35.0/sobjects/Hub_Knowledge_Articlekav/xxxxxxxxxxx/Article_FileBodys
ArticleNumber":"000001010
LastPublishedDate":"2015-12-09T20:34:48.000+0000

Now i

[2016-05-12 21:26] wmathurin commented on #1125
Please submit your question to our [Google Plus Community](http://sfdc.co/mobilesdkcommunity). We reserve the Issues site(s) for bug reporting. Thank you!

[2016-05-12 21:26] #1125 closed

[2016-05-13 09:51] abhinavguptas commented on #1118
I am getting the same issue, with a basic hello world app created out of "forcedroid create"

`05-13 15:15:00.104 590-655/? D/ConnectivityService: releasing NetworkRequest NetworkRequest [ id=51, legacyType=-1, [ Capabilities: INTERNET&NOT_RESTRICTED&TRUSTED&NOT_VPN] ]
05-13 15:15:00.605 11031-11100/com.ccg24 W/System.err: java.lang.ClassNotFoundException: com.salesforce.androidsdk.phonegap.plugin

[2016-05-17 15:06] bhariharan commented on #1118
@asinha08 It looks like the post install steps didn't get run to move the libraries to their correct locations. This typically happens when ```shelljs@0.5.3``` is not installed before running ```forcedroid```. Could you post your console output for the app creation process?

[2016-05-17 15:09] #1079 closed

[2016-05-17 15:09] bhariharan commented on #1079
Closing this issue, since it is fixed.

[2016-05-18 02:48] abhinavguptas commented on #1019
Its still coming with latest Cordova and Salesforce SDK, because few Salesforce plugins failed to compile correctly, and thus crashes at runtime during load for "java.lang.ClassNotFoundException: com.salesforce.androidsdk.phonegap.plugin.SalesforceOAuthPlugin"

@bhariharan and Salesforce Mobile SDK team, can you please suggest, when a fix for the same can be expected ?

[2016-05-18 03:46] huminzhi commented on #868
@congtuyenvip @stvnhg Is this still happening, may we close this issue? Thanks for advice!

[2016-05-18 03:48] alanlimateles commented on #1019
Any sugestion? i am getting problem in manifest too, with duplicate entries.

[2016-05-18 09:27] toddhalfpenny commented on #1019
I had posted a work around for this before... we have got around this (the java.lang.ClassNotFoundException and duplicate entries in the manifest) by making sure that the SF plugin is the last one to be added. We see this only if we have other plugins included in the project.

[2016-05-18 10:44] aravindtrue commented on #1019
Oops, I missed this conversation.

@bhariharan
You're right! The manifest merger issue is fixed and I can build the project without any exception. But, it still shows the blank white screen and getting this error in the console,
[code]

Noticed it while creating a new project,
[code]
There is a problem while installing `phonegap-plugin-push`.

[2016-05-18 10:58] toddhalfpenny commented on #1019
Looks like the issue with the push-plugin version (see here http://salesforce.stackexchange.com/questions/113727/sender-id-error-while-creating-hybrid-app-using-forcedroid).
TLDR; version 1.6 needs some extra config, so force an older version (e.g. 1.5)

[2016-05-18 13:23] alanlimateles commented on #1019
Can you build with cordova build android?

[2016-05-18 13:54] kchitalia commented on #1019
From what I understand, the push plugin issue should be fixed on our unstable branch. @bhariharan please keep me honest here.

[2016-05-19 07:44] meckert-salesforce commented on #1118
I am/was having the same issue and can confirm that it's related to shelljs; apperently shelljs is declared a dependency for forcedroid, but when the `postinstall-android.js` is run it has a different search path for node modules and does not find it.  This is the same, wether I do a `forcedroid create` or a `cordova platform add android@5.0.0` (in an app created with forceios etc.).  Log with the

[2016-05-19 09:04] asinha08 commented on #1118
@bhariharan, forcedroid installed on my machine has shelljs@0.5.3

[2016-05-20 05:57] abhinavguptas commented on #1118
Thanks for picking investigation on this issue, @huminzhi  @bhariharan, me, my team, and I know other teams, who nearly wasted more than 1 week in finding fix for this issue. We tried rolling back to 2014 versions of SDK to get ANT based builds etc in play, but nothing worked for us. By end of day, we are mostly Salesforce developers, who know Angular/Ionic and want to quickly give hybrid apps to

[2016-05-20 16:50] bhariharan commented on #1118
@asinha08 Could you please post your console output from ```forcedroid create```? The issue here is not just installation of ```shelljs@0.5.3```, but ensuring it's installed in the right path - local (vs) global.

[2016-05-20 17:08] bhariharan commented on #1019
The push plugin issue is fixed in the latest version of Mobile SDK - ```4.1.2```.

[2016-05-23 08:11] abhinavguptas commented on #1118
@bhariharan sorry for jumping in, please find the "forcedroid create" console output below:

- **Cordova** Version : 6.1.1
- **Forcedroid** version 4.1.2

**Console Output**:
[code]

[2016-05-23 11:05] meckert-salesforce commented on #1074
I'm fighting with the same issue.  Looks like it actually might be a general cordova issue with the merging of manifest entries when the same features are requested by different plugins but with different settings:
https://issues.apache.org/jira/browse/CB-8401
https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin/issues/295

[2016-05-23 15:41] bhariharan commented on #1118
@abhinavguptas Your console output clearly indicates that ```shelljs``` is not installed.

[code]

```forcedroid``` will not be able to perform the required post-install steps without ```shelljs```. You'll need to install ```shelljs@0.5.3``` in the context that ```forcedroid``` is being used before running the ```create``` command (local (vs) global).

[2016-05-23 15:41] #1118 closed

[2016-05-23 15:45] bhariharan commented on #1118
Your console output clearly indicates that ```shelljs``` is not installed.

[code]

```forcedroid``` requires ```shelljs@0.5.3``` to be installed in the context it's being run in (local (vs) global), before the ```create``` command is run. Installing ```shelljs``` correctly should fix the issues you're facing.

[2016-05-25 12:18] abhinavguptas commented on #1118
I tried installing that as well @bhariharan, but nothing changes for me :( will try again and let you know

[2016-05-25 15:25] bhariharan commented on #1118
@abhinavguptas Did you install it locally or globally? The following steps should work:

* Create a new local directory and navigate to it.
* ```npm install forcedroid``` inside the new folder.
* ```npm install shelljs@0.5.3``` inside the new folder.
* ```node_modules/.bin/forcedroid create``` inside the new folder.
* The creation process kicks off and you should be able to import the generated pr

[2016-05-25 17:25] abhinavguptas commented on #1118
Thanks @bhariharan, on both global and local forcedroid and shelljs install, I am getting this error. Following exactly the same steps followed by **$ cordova run android**

[code]

On checking the AndroidManifest.xml found that activity "com.adobe.phonegap.push.PushHandlerActivity" is added twice, snipped below:

[code]

On removing one of the two duplicate activity, ran into following error:

[c

[2016-05-25 17:40] bhariharan commented on #1118
@abhinavguptas Our instructions clearly specify not to use ```cordova build``` or ```cordova run```. Please use ```Android Studio``` or ```gradle``` directly. Also, the ```Salesforce``` plugin must be added last to avoid the duplicate entries error (if you have other plugins installed). Same goes for the icon error.

[2016-05-26 01:09] abhinavguptas commented on #1118
@bhariharan  I can't find a doc which says "NO" to Cordova build, which is essentially cordova compile + prepare, and the same is listed thru out the official Salesforce Mobile SDK Guide for hybrid apps, link https://developer.salesforce.com/docs/atlas.en-us.mobile_sdk.meta/mobile_sdk/hybrid_run_android.htm
Android studio is listed there as alternative way to run apps on Android. Its becoming quit

[2016-05-26 02:16] bhariharan commented on #1118
@abhinavguptas The output at the end of ```forcedroid create``` has instructions on importing into ```Android Studio``` or using ```gradle``` for command line builds. Our plugin uses our native libraries, which ```Cordova``` doesn't support very well, unfortunately. Most typical ```Cordova``` plugins are a few source files and nothing more, which makes it simple to bundle. We have postinstall step

[2016-05-26 02:45] abhinavguptas commented on #1118
Alrite, so Android Studio + above local npm installs of shelljs and forcedroid get the hello world going :)

Thanks @bhariharan for help !

We are using Ionic as a base to start the hybrid project, do you think following command with local npm installs, and Android studio work ?

[code]

[2016-05-26 02:53] bhariharan commented on #1118
As long as ```shelljs@0.5.3``` is installed, it should work.

[2016-05-26 03:36] rwhitley commented on #1118
Hi Abhinav,

Thanks for your comments on the Dev Guide. We will clean up the alternate
cordova compile/emulate steps that you mentioned, since that route has
become too fragile for us to support.

This Trailhead project might help you with Ionic + Mobile SDK:

https://developer.salesforce.com/trailhead/project/mobile-sdk-hybrid-apps/mobilesdk-hybrid-apps-04

-Richard

Sent from my iPhone

On May 2

[2016-05-27 03:47] abhinavguptas commented on #1118
Thanks @rwhitley, its quite interesting now, how any new developer trying to use Salesforce Mobile SDK can approach the steps. We have many stale WIKI pages on developer.salesforce.com, and few other blogs as well. Sometimes, google ranking of these stale but old content goes higher than dev guides, and they create bigger challenge. I can help with creating such obsolete content list, and we can d

[2016-06-01 03:25] helenren commented on #1074
using
com.salesforce 4.1.2 "SalesforceMobileSDK Plugins"
cordova-plugin-device 1.0.1 "Device"
cordova-plugin-whitelist 1.2.2 "Whitelist"
phonegap-plugin-push 1.5.0 "PushPlugin" I cannot repro the issue, the created app build successfully. While, Once I upgrade the pushplugin from 1.5.0 to 1.6.4, repro your issue exactly. Seems there is a issue in that plugin since version 1.5.3. To unblock you, co

[2016-06-01 18:20] huminzhi commented on #1074
In latest version, 4.1.2, it restricted to use phonegap-plugin-push 1.5.0, so please use v1.5.0.

[2016-06-01 18:20] #1074 closed

[2016-06-01 18:38] helenren commented on #1074
Do you have any specific function you need to you newer version of that push plugin, if so, that will be a feature request, and we can work to support newer version. Please let us know. Thanks.

[2016-06-05 13:22] claudiobarjasmartinez opened #1156 "Creating a Salesforce Hybrid problems"
I tried to create a salesforce Hybride app, but when i want to run this on my android emulator it's not working.

It's skipping the authentication screen(which was correctly implemented) and i'm seeing an empty user list. Just a blank user list, so somethings wrong with the android build of this project.

I've tried several ways, but i can't solve this. Does anyone else knows a way to correct this

[2016-06-05 16:22] bhariharan commented on #1156
This forum is for know bugs or issues in ```Mobile SDK``` code. For other questions or issues, please post on our Google+ community [here](https://plus.google.com/communities/114225252149514546445).

[2016-06-05 16:22] #1156 closed

[2016-06-14 10:32] jeremyhiggs opened #1162 "SmartSync does not report errors with syncing"
I've been trying to figure out why the changes I made locally were not syncing with Salesforce, and discovered that there are some fields that Salesforce is rejecting (because they can't be edited). However, SmartSync was not reporting this.

Debugging SyncUpTarget.java, line 138, I found the following message:

Having this output to console would be really useful, but instead the status code of t

[2016-06-14 11:51] jeremyhiggs commented on #1162
SyncUpTarget.createOnServer also does not report errors with record creation.

[2016-06-17 18:36] huminzhi commented on #1104
The issue is fixed or solved in latest build.

[2016-06-17 18:36] #1104 closed

[2016-06-23 04:06] sarath-agile opened #1169 "SyncManager.syncUp() doesnot have different fieldlist for SyncUpTarget.createOnServer() and SyncUpTarget.updateOnServer()"
The SyncManager syncUp functionality does not have the provision to have separate fieldlist for create and update.

It is creating issues when there is fields which are not allowed on update but still required when creating the object.

[2016-07-11 08:40] marta0483 commented on #1077
@huminzhi No. It is still happening.
@wmathurin. We have registered a backbutton handler in our application, but it doesn´t work the first time you enter in the app.

[2016-07-11 23:24] helenren commented on #1077
Tried with our latest version 4.2.0 against 6.0, it works fine for me. @marta0483, our 4.2.0 version is released, could you please have a try against 4.2.0? Thanks.

[2016-07-12 05:20] Vivekdeepak opened #1190 "App not able to recognize Salesforce Cordova plugin"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.2
2. Issue found in Native App or Hybrid App: Hybrid App (Hybrid Local)
3. OS Version: 23
4. Device:
5. Steps to reproduce: forcedroid create and the app does not show login page
6. Actual behavior: app starts without authentication
7. Expected Behavior: app should login to salesforce then show the data
8. Error Log: com.sale

[2016-07-12 11:44] marta0483 commented on #1077
Hello for your quick response @helenren.
We have tried to update to 4.2.0 release, but the problem is still happening. Also it has involved to change the method for authenticate in Android (we are using the Salesforce SDK cordova plugin) and our application is going to be delivered shortly. For this reason, we will keep on 4.1.1 version. Thanks.

[2016-07-12 21:53] bhariharan commented on #1190
@Vivekdeepak How did you create the app using ```forcedroid```? Could you post the entire console output of the creation process here?

[2016-07-13 05:57] Vivekdeepak commented on #1190
Yes,
I created the app using forcedroid, then build it using cordova build after that I opened into the emulator or the mobile it does not start with Salesforce login page, it shows the blank users page. I checked the logs and found different errors but only able to understand this com.salesforce.plugin.oauth.

I have been building apps in past used Salesforce SDK 2.1,2.2 etc but now I have to upg

[2016-07-13 08:21] bhariharan commented on #1190
Could you post your ```forcedroid create``` console output?

[2016-07-13 10:06] Vivekdeepak commented on #1190
07-13 15:34:39.050: W/ContextImpl(9151): Implicit intents with startService are not safe: Intent { act=tv.gamepop.home.utils.GuidanceScreenForAd (has extras) } com.android.server.am.ActivityStackSupervisor.bstShowAdGuidance:2895 com.android.server.am.ActivityStackSupervisor.bstSendTopActivityInfo:2779 com.android.server.am.ActivityStackSupervisor.startActivityLocked:1244
07-13 15:34:39.050: I/Acti

[2016-07-13 13:00] amjadajmer commented on #1118
@bhariharan I created a new project using Forcedroid version 4.2 and changed the client Id in bootconfig.json, after that I executed cordova prepare and tried to run the app using android studio But it fails. Got the following issue:

E:\Mobile\test3\platforms\android\AndroidManifest.xml:30:9-104 Error:
	Element activity#com.adobe.phonegap.push.PushHandlerActivity at AndroidManifest.xml:30:9-104 d

[2016-07-13 14:56] bhariharan commented on #1190
The output from app creation, not the ```logcat``` output.

[2016-07-13 17:07] huminzhi commented on #1118
@amjadajmer Will you please try to run the app using android studio directly WITHOUT 'cordova prepare', it works for me..

[2016-07-14 06:19] Vivekdeepak commented on #1190
C:\MobileApps\MobileTraining>forcedroid create
Enter your application type (native, react_native, hybrid_remote, or hybrid_local): hybrid_local
hybrid_local
Enter your application name: IonicApp102
Enter the target directory of your app (must be an existing empty folder): C:\MobileApps\MobileTraining\IonicApp101
Enter the package name for your app (com.mycompany.my_app): com.demo1.app
Creating a n

[2016-07-14 10:54] Vivekdeepak commented on #1190
I also tried the other way
creating first cordova app then adding Salesforce Cordova plugin still does not work

[2016-07-14 15:29] bhariharan commented on #1190
@Vivekdeepak You're using ```forcedroid 4.1.1```, not ```forcedroid 4.2.0```, which is the latest. From your console logs:

[code]

The problem here is the incorrect version of ```PushPlugin``` being used. This is fixed in ```forcedroid 4.2.0```. From your console logs:

[code]

Please grab the latest from [here](https://www.npmjs.com/package/forcedroid) and run ```forcedroid create```. That shoul

[2016-07-14 15:29] #1190 closed

[2016-07-19 20:57] #868 closed

[2016-07-20 01:09] congtuyenvip commented on #868
This still happening when we upgrade to version 4.1, 4.2, although that is sample app in source code.
- The lastest version only fix account manager. In previous version, some time getting null information of account from account manager. That will cause loging out and re-active authentication.
- To fix this, we have to look into LoginActivity  instance when do login flow, and encrypt - decrypt lo

[2016-07-20 18:37] huminzhi commented on #956
The issue is fixed in build:MobileSDK.Android.5.0

[2016-07-20 18:37] #956 closed

[2016-07-20 18:53] kchitalia commented on #1077
@marta0483 We will officially support Android N in our 5.0 release.

[2016-07-20 18:55] kchitalia commented on #954
If this issue is still reproducible in our latest Mobile SDK, please re-open this.

[2016-07-20 18:55] #954 closed

[2016-07-29 09:27] sarath-agile opened #1208 "Sqlcipher exception: libsqlcipher_android.so: has text relocations"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.1.1
2. Issue found in Native App or Hybrid App: Native
3. OS Version: Android 6.0 API 23
4. Device: Emulator - Google API Intelx86 Atom System Image
5. Steps to reproduce:
`Try to create and use a project specific ContentProvider in the salesforce application eventhough we use  the SmartStore and SmartSync `
6. Actual behavio

[2016-07-29 16:37] bhariharan commented on #1208
@sarath-agile This is a `SQLCipher` issue, as outlined [here](https://github.com/sqlcipher/android-database-sqlcipher/issues/190). We have upgraded to the latest `SQLCipher` on our `unstable` branch, which has a fix for this. Give it a shot.

[2016-07-29 16:37] #1208 closed

[2016-07-31 22:04] JimBTek opened #1209 "forcedroid create wrongfully detects Cordova 6.3.0"
Please fill out the following details:

1. Version of Mobile SDK Used: forcedroid version 4.2.0
2. Issue found in Native App or Hybrid App:  Creating hybrid_local
3. OS Version: Win 10
4. Device:  N/A
5. Steps to reproduce:  `npm install -g cordova`  (it installs 6.3.0 currently)  then `forcedroid create`
6. Actual behavior:

". Should be in the format x[.y[.ignored]]
) is less than the minimum re

[2016-08-01 19:43] huminzhi commented on #1209
@rwhitley @bhariharan a doc bug in code?

[2016-08-03 07:26] sarath-agile opened #1211 "DBHelper: getCachedTableName() returns wrong table name during Sync"
Please fill out the following details:
1. Version of Mobile SDK Used: 4.2
2. Issue found in Native App or Hybrid App: Native
3. OS Version: Android 6
4. Device:Android x86 Emulator
5. Steps to reproduce:
   `drops all the soups from the UI and starts the sync operation`
6. Actual behavior:
   DBHelper:getCachedTableName() returns the deleted table name instead of the new one.
7. Expected Behavior:

[2016-08-03 20:27] huminzhi commented on #1077
@marta0483 I am a bit confused by this statement: "When the application is launched the first time, the back button doesn´t work. After closing and opening again, it works correctly",   by "closing and opening again", do you mean background/foreground app or kill/resume app, if it's the later, I don't see what's the differences between "first launched" and "closing and opening again"... Thanks to

[2016-08-04 06:39] sarath-agile commented on #1211
Error reproduced in sample Application.
[https://github.com/sarath-agile/SmartSyncTest](https://github.com/sarath-agile/SmartSyncTest)

[2016-08-04 07:47] marta0483 commented on #1077
Hello @huminzhi. After installing and opening the application the first time, I kill it and then open again. The second time is when the back button works properly.
I have tried with other devices that have the same Android version, and it seems that only happens in a Nexus 5...

[2016-08-04 16:49] wmathurin commented on #1211
Thanks for sharing your sample application.

I looked at your code. The problem is that you are working from two processes.
You drop the soups from the application process but run sync from the service.

The caches of DBHelper instance in the service are not invalidated when you drop the sources from the application.

To work around that limitation, I recommend you have the main application send a

[2016-08-09 07:21] sarath-agile commented on #1211
I tried to clear the cache from the other process but which gives another error. The error is reproduced in the sample code.
[code]

[2016-08-10 15:34] huminzhi commented on #1077
@marta0483 just curious if you have tried it on another Nexus 5? Want to rule out device hardware issue..

[2016-08-11 06:51] wmathurin commented on #1211
@bhariharan didn't we have sample code illustrating background sync on Android?

[2016-08-11 17:02] bhariharan commented on #1211
@wmathurin Yes we do, in `SmartSyncExplorer` [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/native/NativeSampleApps/SmartSyncExplorer/src/com/salesforce/samples/smartsyncexplorer/sync/ContactSyncAdapter.java). Unfortunately, we run into the same issue on `logout` and logging in right away. I'm working on fixing that in the sample app, by adding a `LOGOUT_COMPLETE Int

[2016-08-11 18:35] huminzhi commented on #1211
The issue is fixed or solved in latest build.

[2016-08-11 21:16] bhariharan commented on #1211
@huminzhi This isn't resolved. I'm working on it.

[2016-08-12 16:30] huminzhi commented on #1209
@kchitalia I looked into this issue again, seems I misunderstood it...
So looks like on Windows 10, it only works with cordova@6.2.0,  but not 6.3.0 for some reason.. Will you please try to reproduce this issue?
If it indeed can only work with cordova 6.2.0 on Win10, we should update the doc
If it's a bug which causes this error, we should fix it....

[2016-08-12 18:36] huminzhi commented on #1211
The issue is fixed or solved in latest build.

[2016-08-12 19:36] huminzhi commented on #1211
@bhariharan something wrong with my auto script since this bug was at first labeled as investigation.. now I fixed the script, should be good now.. sorry for the trouble.

[2016-08-16 17:11] huminzhi commented on #1077
@marta0483 actually I am able to reproduce this now .. we will work on it soon

[2016-08-22 07:13] ritunagpal opened #1235 "Post Apex Request"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.0.2
2. Issue found in Native App or Hybrid App:Native App
3. OS Version:ALL
4. Device:Android
5. Steps to reproduce: Apex call
6. Actual behavior:Volley Server Error
7. Expected Behavior: Succesfully make request
8. Error `Log:

I want to make an post apex request. The info i have is post endpoint and post body, I have succes

[2016-08-22 21:49] huminzhi commented on #1235
@ritunagpal Version of Mobile SDK Used: 4.0.2 is quite old, we are now at v4.3.
For rest request, you don't need to use HTTPRequest, you can use RestClient(RestRequest/RestResponse) in the SDK. You should be able to find some example [here](https://trailhead.salesforce.com/mobile_sdk_native_android/mobilesdk_android_rest_apis), hope it helps

[2016-08-23 06:29] ritunagpal commented on #1235
Ok @huminzhi, yes i have used restclient for chatter apis and integrate succesfully in android but i need help in using apex request in my project, i have endpoint url and post body to make this request.
It will be helpful if you can give any example to make this request.

[2016-08-23 21:08] huminzhi commented on #1235
@ritunagpal so if the url is absolute URL like "https://....", SDK won't change it during resolveURL..
so you just need to new RestRequest(RestMethod method, String path, RequestBody requestBody) with absolute path of you apex endpoint, then sendAsync it using RestClient..

[2016-08-24 07:28] stvnhg opened #1237 "SalesforceSDKManager.getInstance().hasNetwork() is always true"
1. Version of Mobile SDK Used: 4.1
2. Issue found in Native App or Hybrid App: Hybrid
3. OS Version: Android 6.0
4. Device: Moto G

**Problem**
When users are offline, not logged in and they open the app for the first time they are not getting redirected to the error page.

When you look at line 210 in SalesforceDroidGapActivity.java "onResumeNotLoggedIn()". When i debug my application and I turn

[2016-08-24 13:37] #1235 closed

[2016-08-24 19:26] huminzhi commented on #1237
Thank you for your info @stvnhg , I confirm it's an issue in Android and will fix it in next release.
You mentioned you see similar issue in iOS, will you please file another issue there since it's totally different lib and path? Thanks a lot!

[2016-08-24 20:46] bhariharan commented on #1237
Fixed [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1238).

[2016-08-24 21:58] huminzhi commented on #1077
@marta0483 Sorry that I saw the issue once and thought I can reproduce it, but after that I am not able to reproduce it any more..

[2016-08-25 06:30] stvnhg commented on #1237
Thank you for that but issue is not solved, please re-open. What about the fact when my connection is down and I enter the "onResumeNotLoggedIn()" method in "SalesforceDroidGapActivity.java" on line 210 when I open the app when I'm not logged in? "SalesforceSDKManager.getInstance().hasNetwork()" on line 216 still returns true and tries to authenticate. I want it to enter the else clause and do the

[2016-08-29 08:54] stvnhg commented on #1237
@bhariharan @huminzhi Any update on this? Thank you.

[2016-08-31 18:36] huminzhi commented on #1209
The issue is fixed or solved in latest build.

[2016-08-31 18:41] JimBTek commented on #1209
Great thanks!

[2016-08-31 21:15] huminzhi commented on #1209
Sorry @JimBTek , I accidentally closed it, but the issue is not fixed by us since it's a cordova issue in 6.3.0. You need to turn off a flag. @bhariharan @rwhitley Will you pease advice here. Thank you!

[2016-08-31 21:17] JimBTek commented on #1209
@huminzhi oh OK. It was more an FYI to you all. I'm just learning/playing so 6.2 is fine but wanted to provide feedback to help out in case anyone else hits the same problem. Thanks!

[2016-09-02 18:36] huminzhi commented on #1162
The issue is fixed in build:MobileSDK.Android.5.0

[2016-09-02 18:36] #1162 closed

[2016-09-06 21:24] huminzhi commented on #1209
Hi, if you want to use cordova v6.3.0, you will need to "cordova telemetry off" before "forcedroid create". We will see if we can work around this issue introduced by cordova v6.3.0, or we need to update documentation. Thank you @JimBTek

[2016-09-06 21:24] huminzhi commented on #1209
Hi, if you want to use cordova v6.3.0, you will need to "cordova telemetry off" before "forcedroid create". We will see if we can work around this issue introduced by cordova v6.3.0, or we need to update documentation. Thank you @JimBTek

[2016-09-06 21:24] huminzhi commented on #1209
Hi, if you want to use cordova v6.3.0, you will need to "cordova telemetry off" before "forcedroid create". We will see if we can work around this issue introduced by cordova v6.3.0, or we need to update documentation. Thank you @JimBTek

[2016-09-06 21:25] huminzhi commented on #1209
Hi, if you want to use cordova v6.3.0, you will need to "cordova telemetry off" before "forcedroid create". We will see if we can work around this issue introduced by cordova v6.3.0, or we need to update documentation. Thank you!

[2016-09-06 21:30] JimBTek commented on #1209
ah ok, thanks for the update!

If you need me to test anything else in the future let me know.

On Tue, Sep 6, 2016 at 5:25 PM, Maggie Hu <notifications@github.com> wrote:

[2016-09-12 06:21] stvnhg commented on #1237
@bhariharan @huminzhi ???

[2016-09-12 16:49] bhariharan commented on #1237
@stvnhg Sorry for the delay. We'll take a look.

[2016-09-12 18:35] huminzhi commented on #1237
The issue is fixed in build:MobileSDK.Android.5.0

[2016-09-12 18:51] bhariharan commented on #1237
@huminzhi It appears this isn't fixed?

[2016-09-12 23:03] bhariharan commented on #1237
@stvnhg Thanks for bringing this to our attention. I have a fix [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1243).

[2016-09-12 23:04] #1237 closed

[2016-09-13 19:54] craigisakson opened #1244 "forcedroid/Cordova issue when adding plugins"
Please fill out the following details:
1. Version of Mobile SDK Used: forcedroid v4.3.1
2. Issue found in Native App or Hybrid App: Hybrid App
3. OS Version: android-23
4. Device: n/a
5. Steps to reproduce: Unable to add Cordova plugins to the app created by forcedroid
6. Actual behavior: I create an app using forcedroid.  After the app is created, I add the plugins for Cordova that I need.  Due t

[2016-09-20 05:27] bhariharan commented on #1209
This is fixed in `unstable` and will be a part of our next release.

[2016-09-20 05:27] #1209 closed

[2016-09-28 10:40] ritunagpal opened #1255 "Salesforce Apex request"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.0.2
  2   Issue found in Native App or Hybrid App:Native App
 3    OS Version:ALL
  4   Device:Android
 5   Steps to reproduce: Apex call
 6  Actual behavior:Pdf in invalid format.

I am not able to open the email received on executing the apex request from the android app.
I am trying to execute the apex request using http m

[2016-09-28 17:57] bhariharan commented on #1255
@ritunagpal It sounds like the response was successful and you're getting the file back? We don't control what happens after the download is complete. Also, this forum is reserved for known issues/bugs with `Mobile SDK`. For other questions, please use our [Google+ Community](https://plus.google.com/u/1/communities/114225252149514546445).

[2016-09-28 17:57] #1255 closed

[2016-10-13 06:12] GaneshSawant commented on #432
Hello @bhariharan,
I am still facing this issue.
Trying to build hybrid remote app for our community implementation.
current versions used
Cordova - 5.4.1
forcedroid version - 4.3.1

[2016-10-16 23:17] GaneshSawant opened #1260 "Hybrid Remote Mobile app for Salesforce communities having login issues"
Please fill out the following details:
1. Version of Mobile SDK Used: 4.3.1  Forcedroid
2. Issue found in Native App or Hybrid App: Hybrid  - Remote
3. OS Version: Android marshmallow
4. Device: Emulator for Nexus 6, One plus three Mobile
5. Steps to reproduce: Created a wrapper Hybrid Remote app for customer community, on app launch its launching the community Login page successfully.
6. Actual b

[2016-10-31 01:16] GaneshSawant opened #1271 "Salesforce Community Hybrid Remote app Never Login after a session Timeout"
Please fill out the following details:
1. Version of Mobile SDK Used:  SalesforceSDK 4.3 /  cordova 5.4.0
2. Issue found in Native App or Hybrid App: Hybrid App
3. OS Version: Android Marshmallow
4. Device: One Plus Three/Samsung Galaxy S6
5. Steps to reproduce: Login to Salesforce Mobile hybrid App, keep it idle for some time(until session timeout value), after session timeout, we are not able to

[2016-11-01 00:32] #1260 closed

[2016-11-01 13:28] mzaklama opened #1273 "Clean Resync Ghosts get Object Name After From"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.3.1
2. Issue found in Native App or Hybrid App: Native
3. OS Version: Android 5.0
4. Device: Samsung
5. Steps to reproduce:
SoqlSyncDownTarget.java Line 154
If you have a field containing FROM, the split does not get the correct Soup/Object.
eg: I have a field called From_Customer__c and an Object called Stock_Transfers__c; t

[2016-11-01 13:29] mzaklama commented on #1273
My fix will not work if the Object itself contains "FROM"

[2016-11-01 13:51] mzaklama commented on #1273
A better fix is to change lines 152 and 153 to
soql.append(" FROM ");
final String[] fromClause = query.split("([ ][fF][rR][oO][mM])[ ]");

This way it will insure that we get the FROM that is not included in a Field name or an Object Name

[2016-11-02 18:47] bhariharan commented on #1273
@mzaklama Thanks for reporting this. Mind sending us a pull request against `unstable`?

[2016-11-03 18:43] huminzhi commented on #1271
@GaneshSawant  do you mean you cannot login even after enter username/password in the login page?  And what's the error message you are seeing?

[2016-11-03 22:29] GaneshSawant commented on #1271
@huminzhi .. thanks for follow up. Yes I cant go past login page after session timeout.
There is no error, the login history of community user shows successful login as well.
My initial investigation points that, app url after session timeout still contains the session id which is expired. Not sure how to reset the URL after session timeout.

[2016-11-04 20:58] huminzhi commented on #1271
That's indeed weird @GaneshSawant , actually in step5, you should not get logout, the mobile app should be able to refresh token and re-establish a session for you. It sounds like a bug in this area, let me double check and get back to you..

[2016-11-06 23:31] GaneshSawant commented on #1271
Thanks @huminzhi  for looking into this Issue.
I faced similar issue when trying to logout from the community hybrid app but that got fixed when I explicitly called the cordova Logout Method.

In order to fix this issue, I again tried similar fix, calling logout Method on the Login Screen when there is a session timeout(I am checking if the URL contains Sid and if the the User is Guest user).
This

[2016-11-07 22:10] bhariharan commented on #1271
@GaneshSawant In a hybrid app, you always need to call the explicit `Cordova` methods on our plugin for login and logout, i.e., `authenticate` and `logout`. Otherwise, the login or logout will only occur within the `WebView` and the native app would have no knowledge of this request.

[2016-11-07 22:31] GaneshSawant commented on #1271
@bhariharan  Thanks for your suggestions.
We have built hybrid remote app for our community. we did used the logout cordova method to resolve the logout issue.
May I get more details about the authenticate method, any reference documentation on how to use the authenticate method will be of great help.

As I pointed out earlier, on Session timeout the app URL contains the old Sid param and somehow

[2016-11-08 22:02] huminzhi commented on #1271
@GaneshSawant You can find more info in our trailhead: https://developer.salesforce.com/docs/atlas.en-us.noversion.mobile_sdk.meta/mobile_sdk/dev_hybrid_apps_run.htm

[2016-11-08 22:05] bhariharan commented on #1271
@GaneshSawant You need to use our `Cordova OAuth` plugin. It sets the required session and domain cookies.

[2016-11-08 23:23] GaneshSawant commented on #1271
@bhariharan Thanks Again.
May I know what do you mean by use Cordova OAuth plugin ?
Do I need to call any specific method or just install the plugin as mentioned by @huminzhi  ?

Many Thanks :)

[2016-11-08 23:46] GaneshSawant commented on #1271
@huminzhi @bhariharan I guess I already installed the Cordova OAuth plugin... after running the command again... its showing existing files skipped messages.
please correct me if I am missing anything here.

In order to create a project on first place.. I used Forcedroid create method.

[2016-11-09 07:35] GaneshSawant commented on #1271
@bhariharan @huminzhi  Thanks guys for your suggestion.
Today when I tried  to used the Cordova Authenticate method... results were better as compared to logout method.

On the App login page I am trying to check if its a session timeout and if yes calling the cordova authenticate method.

If you launch the app after session timeout, on first launch it stuck to login page itself but somehow authen

[2016-11-10 21:09] huminzhi commented on #1271
@GaneshSawant You don't need to handle "Session Expired" because mobileSDK does all that for you... as long as you are using .authenticate() method, it should automatically refresh the session for you... BTW, will you please add this topic to our community: https://plus.google.com/u/1/communities/114225252149514546445. Thanks!

[2016-11-14 21:14] bhariharan commented on #1271
@GaneshSawant This forum is for known bugs/issues with our code. For everything else, please use our Google+ community mentioned above.

[2016-11-14 21:14] #1271 closed

[2016-11-14 23:12] bhariharan commented on #1273
Fixed [here](https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1296).

[2016-11-14 23:12] #1273 closed

[2016-11-28 23:00] pedramsaleh opened #1307 "Can't link external component to freshly created app"
Please fill out the following details:

1. Version of Mobile SDK Used: 4.3.1
2. Issue found in Native App or Hybrid App: Error "configuration with name default not found" when building React Native app in Android Studio
3. OS Version: macOS 10.12.1
4. Device: MacBook Pro
5. Steps to reproduce: create react_native app with forcedroid, install react-native-fs and try to incorporate into project by f

[2016-11-28 23:56] wmathurin commented on #1307
In our soon to be released 5.0 release, the generated application with forcedroid (or forceios) will be very similar to the one you get when using react-native init and so the issue you have above should be resolved.
(We are planning to release 5.0 in the next couple of weeks or so #safeharbor)

[2016-11-28 23:56] #1307 closed

[2016-11-30 11:06] midhun3112 opened #1309 "Login loop after using the same account in multiple devices"
@stvnhg , @Nemisis, @PhamQuangThinh ,@congtuyenvip , @bhariharan
1. Version of Mobile SDK Used: **v4.3.1**
2. Issue found in Native App or Hybrid App:**Native App**
3. OS Version: 6.0.1
4. Device:Multiple devices including Samsung Galaxy S4, S6 Edge, Nexus5 etc
5. Steps to reproduce: While using the same account in multiple devices I am automatically logged out from some device and login page is s

[2016-11-30 18:01] bhariharan commented on #1309
@midhun3112 The stack trace here indicates that the logout was not clean and the app is using the wrong key to attempt to decrypt data from `AccountManager`. Can you reproduce this consistently on a fresh install of the app on an Android emulator or a Nexus device?

[2016-11-30 21:14] huminzhi commented on #1309
@midhun3112 FYI, we have some limit about how many devices one single account can login at the same time.. usually it is 5, so if you have login same account on more than 5 devices, it's expected, some device(s) will logout automatically

[2016-12-01 06:46] midhun3112 commented on #1309
@bhariharan @huminzhi If the number of login > 5 then app logout automatically but the real issue comes after logout. From the login screen I cannot go past the login page even after entering correct credentials. After clicking Allow I am again redirected to the login page again with the above mentioned stack trace. Until the cache is cleared I am stuck in the login page.

[2016-12-01 20:30] bhariharan commented on #1309
@midhun3112 The issue here has nothing to do with number of login attempts. As I mentioned, it appears that logout isn't happening cleanly, which is resulting in a stale encryption key being used the decrypt the next time. Are you able to reproduce this consistently on an Android emulator or a vanilla Android device, such as a Nexus or a Pixel?

[2016-12-02 09:02] midhun3112 commented on #1309
@bhariharan We are using logout option in our app. But sometime when the user limit exceeds SDK automatically forces the logout and after that this issue occurs. If I clear the cache and then login then everything works as expected. So the logout done by the SDK is causing this problem. I am checking on a GenyMotion Nexus5x emulator and Android Emulator for Nexus 5x. This issue is not consistent a

[2016-12-03 17:48] bhariharan commented on #1309
@midhun3112 We don't auto-logout users based on user limit. We only auto-logout if the refresh token is invalidated by the server. I can't reproduce any issues with that flow from my end. Could you try to repro this on any of our sample apps in the repo?

[2016-12-03 21:10] bhariharan commented on #1244
This has been fixed [here](https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin/pull/258) and will be a part of our upcoming `Mobile SDK 5.0` release.

[2016-12-03 21:10] #1244 closed

[2016-12-03 21:11] bhariharan commented on #1077
This is fixed in the latest version of `Cordova` - `6.1.0`, which will be in our upcoming `Mobile SDK 5.0` release.

[2016-12-03 21:11] #1077 closed

[2017-01-03 08:15] jensonpp opened #1339 "Issue with cleanResyncGhosts(long syncId)"
@bhariharan @wmathurin @khawkins

1. Version of Mobile SDK Used: v4.3.1, v5.0
2. Issue found in Native App or Hybrid App: Native App
3. OS Version: 6.0.1
4. Device: Multiple devices like Samsung Galaxy S4, S6 Edge, Nexus5 etc

5. Steps to reproduce: Fetch data from a table in the remote server using a particular condition using syncDown in SmartSync library. Then again fetch data from the same tab

[2017-01-04 01:17] wmathurin commented on #1339
Unfortunately, as you discovered, cleanResyncGhosts will clean more that the ghosts if the table is populated through multiple sync down operations (since we don't record the sync down through which the record was downloaded). I'm tagging this issue as an enhancement and we will look at improving cleanResyncGhosts in the future.

[2017-01-10 03:24] GaneshSawant opened #1341 "forcedroid hybrid remote app not launching on Clicking Push Notification"
I recently upgraded the forcedroid version to 5.0,0 and we are working on the Hybrid remote app for our Salesforce community.

After enabling Push notifications, clicking on the Notification is not opening the app which was working previously with forcedroid version 4.3.0

Please do let me know if I am missing something or do we need to handle this explicitly ?

Thank you,
Ganesh

[2017-01-17 00:36] GaneshSawant opened #1345 "Hybrid Remote App - redirects back to login screen after doing "Forget Passcode/Pin" flow"
Please fill out the following details:

1. Version of Mobile SDK Used: 5.0.0 and 4.3.0
2. Issue found in Native App or Hybrid App: Hybrid App
3. OS Version: Marshmallow
4. Device: One Plus 3
5. Steps to reproduce:
     Activate the Pin Protection on the Connected App. On first Install of App, set the Passcode
     After timeout mentioned in the Connected App, system asks for Pin as additional secu

[2017-01-27 22:19] mkoo21 opened #1347 "Connected app name is "SalesforceMobileSDK Sample App""
All of the apps we create using SalesforceMobileSDK create connected apps with the name "SalesforceMobileSDK Sample App". This name is also shown on the oauth authentication screen.
![screen_shot_2017-01-26_at_4 52 20_pm](https://cloud.githubusercontent.com/assets/12832801/22389649/bc7da922-e4b4-11e6-87b7-229565982205.png)

How can we change this to a different name?

[2017-01-27 22:34] wmathurin commented on #1347
That name is the name of the connected app you are using.

You need to create your own connected app (see https://developer.salesforce.com/docs/atlas.en-us.mobile_sdk.meta/mobile_sdk/connected_apps_howto.htm) and use it in your application.

When your run forcedroid/ios, the last thing printed in the terminal is something like

_Before you ship, make sure to plug your OAuth Client ID and Callback

[2017-01-27 22:34] #1347 closed

[2017-01-31 00:42] GaneshSawant commented on #1345
Hello Team,

May I please know if any updates on this Particular Issue.

Thank you,
Ganesh

[2017-02-06 19:35] huminzhi commented on #1169
The issue is fixed in build:MobileSDK.Android.5.1
Please try to reproduce again and see if it still exists. Thank you!

[2017-02-06 19:43] #1169 closed

[2017-02-13 20:00] huminzhi commented on #1345
Hi, @GaneshSawant We are able to reproduce the issue and a fix is undergoing. Thank you very much!

[2017-02-13 23:10] GaneshSawant commented on #1345
hello @huminzhi ,

Many thanks for looking into this Issue.
May I know if we have to wait for the fix till next available release as we are planning to go live in less than a months time.

Can we do it a quick fix may be fixing a specific SDK java class or a cordova Javascript library ?

Regards,
Ganesh

[2017-02-14 00:15] huminzhi commented on #1345
https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/dev/libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.java#L315. It is resolved in latest dev branch @GaneshSawant

[2017-02-14 00:18] huminzhi commented on #1345
@GaneshSawant  to use latest dev branch code

1) Clone the Mobile SDK cordova plugin repo and checkout the dev branch
git clone https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin
cd SalesforceMobileSDK-CordovaPlugin
git checkout dev

2) modify ./tools/update.sh if you need to change the repo path to your fork: (you can skip this step)

3) Build the libraries (we only checkin the libr

[2017-02-14 19:35] huminzhi commented on #1345
The issue is fixed on the 'dev' branch.
Please try to reproduce again and see if it still exists. Thank you!

[2017-02-14 21:27] #1345 closed

[2017-02-22 16:30] realdoug opened #1357 "support dynamic version of react-native"
Looks like SDK requires a specific version of react-native.  It would be nice if the developer could specify which version of react native that they are using.

https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/libs/SalesforceReact/build.gradle

[2017-02-22 20:18] bhariharan commented on #1357
@realdoug It is hard to guarantee compilation of our libraries without specifying a dependent version, since `react-native` is iterating quickly and breaks API pretty often. With every `Mobile SDK` release, we do bump up to the latest `react-native` version. Meanwhile, you're welcome to bump it up in your app on your fork of `Mobile SDK`. Or you could consume the bleeding edge from our `dev` branc

[2017-02-22 20:18] #1357 closed

[2017-02-22 20:41] realdoug commented on #1357
@bhariharan i noticed that the most recent release was 6 days ago, but the react native version is still 0.35 (as was set in the 5.0.0 release).  Is this intentional?  When do you expect the next version bump to be?

[2017-02-22 20:43] bhariharan commented on #1357
Our `5.0.0` release went out a couple of months ago. We will bump it up on the `dev` branch pretty soon. I don't have an exact timeframe for you, unfortunately.

[2017-02-22 21:21] realdoug commented on #1357
Thanks.  If I were to fork & update version, is it just the build.gradle file that i linked to above and the package.json?  Anywhere else i need to change?

[2017-02-22 21:24] bhariharan commented on #1357
That should be it. Once you do that, run `. install.sh` from the root of the repo to sync and pull those versions.

[2017-03-09 19:15] rgoldiez opened #1367 "POST sendRequest from Android not including complete body"
(Moving https://github.com/forcedotcom/SalesforceMobileSDK-ReactNative/issues/21 here)...

Please fill out the following details:

1. Version of Mobile SDK Used:
SDK 5.0.1

2. Issue found in Native App or Hybrid App:
React Native

3. OS Version:
Android Marshmellow (although does not matter)

4. Device:
Emulator (although does not matter)

5. Steps to reproduce:
Perform a sendRequest with a JSON b

[2017-03-13 17:19] cloaked-ninja opened #1368 "Build.gradle file not correctly synced from SalesforceMobileSDK-Android when using forcedroid"
Please fill out the following details:

1. Version of Mobile SDK Used: 5.0.1
2. Issue found in Native App or Hybrid App: Native
3. OS Version: Windows 10
4. Device: Android Studio
5. Steps to reproduce:

Follow steps on Salesforce Mobile SDK Trailhead walkthrough (creating a new native using forcedroid npm package):

[Walkthrough](https://trailhead.salesforce.com/modules/mobile_sdk_native_android/

[2017-03-13 22:57] GaneshSawant commented on #1341
Hello Team,

May I please know if we have any update on the above issue ?

[2017-03-13 23:42] vinodr commented on #1368
I am getting this error on the /libs/SalesforceReact/build.gradle file too.

[2017-03-14 12:57] rgoldiez commented on #1367
@wmathurin - Any ideas for a workaround, other than calling out to Salesforce with the standard React Native `fetch`, sticking in the token to the header, etc.

[2017-03-14 20:32] bhariharan commented on #1368
@cloaked-ninja @vinodr Yup - I've fixed this in our `dev` branch. For now, please use `forcedroid@5.0.0` instead of `forcedroid@5.0.1` - there are no code changes in `5.0.1` over `5.0.0`. This is already fixed in the `dev` branch and will be in the next `forcedroid` release.

[2017-03-14 20:32] #1368 closed

[2017-03-14 21:48] wmathurin commented on #1367
We'll try and fix it for the next release. Until then, you could fork the SDK and fix https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/bridge/SalesforceNetReactBridge.java#L137 to expect a string->object map.

[2017-03-14 22:59] rgoldiez commented on #1367
Thanks @wmathurin.  I fixed per your suggested and created a PR -> https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1370

[2017-03-15 00:27] bhariharan commented on #1367
The PR has been merged.

[2017-03-15 00:27] #1367 closed

[2017-03-21 04:26] GaneshSawant commented on #1345
Hello Team,

I cant use the dev repo as the cordova and forcedroid versions are 5.4.0 and 4.3.0 respectively which is giving us an error.
We didnt upgraded to latest salesforce sdk 5.0.0 because of following issue
https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues/1341

Can you please look into 1341 please

[2017-04-06 23:35] wmathurin commented on #956
This is not a bug.
Look at the original code you posted.
The sync is executed on a separate thread.
The cordova call returns without waiting for it.
JavaScript events will be sent to report back the sync progress (or its failures).
For an example of code listening to such events look at https://github.com/forcedotcom/SalesforceMobileSDK-Shared/blob/master/samples/smartsyncexplorer/SmartSyncExplore

[2017-04-09 19:14] carlosabella commented on #1368
Hi, I know this issue is closed, but @bhariharan how do we use forcedroid@5.0.0 instead of forcedroid@5.0.1? I'm new in this world , I'm a little bit lost.

Thanks for your help

[2017-04-09 19:18] bhariharan commented on #1368
@carlosabella `npm install forcedroid@5.0.0`. Then `node_modules/.bin/forcedroid create`. Run through the steps to create an app.

[2017-04-09 19:53] carlosabella commented on #1368
Thanks!

[2017-04-14 10:02] karthik2391 opened #1393 "react.force.common.js does not exist"
1. Version of Mobile SDK Used:  5.0
2. Issue found in Native App or Hybrid App: Hybrid App
3. OS Version:Android 25
4. Device:Android
5. Steps to reproduce: run cscript install.vbs after cloning SDK  file  from  git
6. Actual behavior: react.force.common.js does not exist
7. Expected Behavior: Should install
8. Error Log: Source file 'external\shared\libs\react.force.common.js' does not exist!  Ca

[2017-04-14 13:39] wmathurin commented on #1393
Thanks for reporting the issue - we will look at it.

[2017-04-14 13:56] wmathurin commented on #1393
The fix for dev is on that PR: https://github.com/forcedotcom/SalesforceMobileSDK-Android/pull/1394
Either check out the dev branch (once the PR is merged)
Or wait for 5.1 to go live (should be later this month)
Or cherry pick/apply the fix to your repo (but since a few things have moved around, you will need to run ./tools/build_windows_file_list.js to regenerate the links file).

Thanks.

[2017-04-14 13:56] #1393 closed

[2017-04-19 13:53] karthik2391 opened #1395 "com.salesforce issue for Cordova-android version@6.2.1"
Please fill out the following details:

1. Version of Mobile SDK Used: 25
2. Issue found in Native App or Hybrid App: Hybrid App
3. OS Version:
4. Device: Android
5. Steps to reproduce:run command - cordova platform add android@6.2.1
6. Actual behavior: Installing "com.salesforce" for android
 Plugin doesn't support this project's cordova-android version. cordova-android: 6.2.1, failed version req

[2017-04-19 14:04] bhariharan commented on #1395
We don't support 6.2.1 yet. Please use 6.1.0.

[2017-04-19 14:04] #1395 closed

[2017-04-19 14:10] karthik2391 commented on #1395
I am facing below issue with 6.1.0
Failed to install 'cordova-plugin-whitelist':Error: cmd: Command failed with exit code 1

is there any work around for this?

[2017-04-19 14:33] bhariharan commented on #1395
The issue you've reported clearly states that you're installing 6.2.1 instead of 6.1.0.

[code]